/*===============================
Box Model
=================================*/

/*===============================
Typography
=================================*/

/*===============================
Theme & Color
=================================*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.hdr,
.ftr { /* HTML5 display-role reset for older browsers */
}

.hdr html,
.ftr html,
.hdr body,
.ftr body,
.hdr div,
.ftr div,
.hdr span,
.ftr span,
.hdr applet,
.ftr applet,
.hdr object,
.ftr object,
.hdr iframe,
.ftr iframe,
.hdr h1,
.ftr h1,
.hdr h2,
.ftr h2,
.hdr h3,
.ftr h3,
.hdr h4,
.ftr h4,
.hdr h5,
.ftr h5,
.hdr h6,
.ftr h6,
.hdr p,
.ftr p,
.hdr blockquote,
.ftr blockquote,
.hdr pre,
.ftr pre,
.hdr a,
.ftr a,
.hdr abbr,
.ftr abbr,
.hdr acronym,
.ftr acronym,
.hdr address,
.ftr address,
.hdr big,
.ftr big,
.hdr cite,
.ftr cite,
.hdr code,
.ftr code,
.hdr del,
.ftr del,
.hdr dfn,
.ftr dfn,
.hdr em,
.ftr em,
.hdr img,
.ftr img,
.hdr ins,
.ftr ins,
.hdr kbd,
.ftr kbd,
.hdr q,
.ftr q,
.hdr s,
.ftr s,
.hdr samp,
.ftr samp,
.hdr small,
.ftr small,
.hdr strike,
.ftr strike,
.hdr strong,
.ftr strong,
.hdr sub,
.ftr sub,
.hdr sup,
.ftr sup,
.hdr tt,
.ftr tt,
.hdr var,
.ftr var,
.hdr b,
.ftr b,
.hdr u,
.ftr u,
.hdr i,
.ftr i,
.hdr center,
.ftr center,
.hdr dl,
.ftr dl,
.hdr dt,
.ftr dt,
.hdr dd,
.ftr dd,
.hdr ol,
.ftr ol,
.hdr ul,
.ftr ul,
.hdr li,
.ftr li,
.hdr fieldset,
.ftr fieldset,
.hdr form,
.ftr form,
.hdr label,
.ftr label,
.hdr legend,
.ftr legend,
.hdr table,
.ftr table,
.hdr caption,
.ftr caption,
.hdr tbody,
.ftr tbody,
.hdr tfoot,
.ftr tfoot,
.hdr thead,
.ftr thead,
.hdr tr,
.ftr tr,
.hdr th,
.ftr th,
.hdr td,
.ftr td,
.hdr article,
.ftr article,
.hdr aside,
.ftr aside,
.hdr canvas,
.ftr canvas,
.hdr details,
.ftr details,
.hdr embed,
.ftr embed,
.hdr figure,
.ftr figure,
.hdr figcaption,
.ftr figcaption,
.hdr footer,
.ftr footer,
.hdr header,
.ftr header,
.hdr hgroup,
.ftr hgroup,
.hdr menu,
.ftr menu,
.hdr nav,
.ftr nav,
.hdr output,
.ftr output,
.hdr ruby,
.ftr ruby,
.hdr section,
.ftr section,
.hdr summary,
.ftr summary,
.hdr time,
.ftr time,
.hdr mark,
.ftr mark,
.hdr audio,
.ftr audio,
.hdr video,
.ftr video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.hdr article,
.ftr article,
.hdr aside,
.ftr aside,
.hdr details,
.ftr details,
.hdr figcaption,
.ftr figcaption,
.hdr figure,
.ftr figure,
.hdr footer,
.ftr footer,
.hdr header,
.ftr header,
.hdr hgroup,
.ftr hgroup,
.hdr menu,
.ftr menu,
.hdr nav,
.ftr nav,
.hdr section,
.ftr section {
	display: block;
}

.hdr body,
.ftr body {
	line-height: 1;
}

.hdr ol,
.ftr ol,
.hdr ul,
.ftr ul {
	list-style: none;
}

.hdr blockquote,
.ftr blockquote,
.hdr q,
.ftr q {
	quotes: none;
}

.hdr blockquote:before,
.ftr blockquote:before,
.hdr blockquote:after,
.ftr blockquote:after,
.hdr q:before,
.ftr q:before,
.hdr q:after,
.ftr q:after {
	content: '';
	content: none;
}

.hdr table,
.ftr table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hdr a,
.ftr a {
	color: #4e92e3;
	text-decoration: none;
}

.hdr a:hover,
.ftr a:hover {
	text-decoration: underline;
}

.hdr body,
.ftr body {
	background: #f2f3f5;
	color: #3b3b3b;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size: 12px;
}

.hdr *,
.ftr * {
	box-sizing: content-box;
	outline: 0;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
}

.hdr strong,
.ftr strong,
.hdr b,
.ftr b {
	font-weight: 600;
}

.hdr img[width='1'][height='1'],
.ftr img[width='1'][height='1'] {
	position: fixed;
	bottom: 2px;
	left: 2px;
	opacity: .1;
}

.hdr sup,
.ftr sup {
	vertical-align: super;
}

.hdr sub,
.ftr sub {
	vertical-align: sub;
}

.hdr strong,
.ftr strong {
	font-weight: 600;
}

.hdr input,
.ftr input,
.hdr textarea,
.ftr textarea {
	border: 1px solid #dfe1e8;
	border-radius: 3px;
	background-color: #ffffff;
	color: #8e8e93;
}

.hdr input::-webkit-input-placeholder,
.ftr input::-webkit-input-placeholder,
.hdr textarea::-webkit-input-placeholder,
.ftr textarea::-webkit-input-placeholder { /* WebKit browsers */
	color: #8e8e93;
}

.hdr input:-moz-placeholder,
.ftr input:-moz-placeholder,
.hdr textarea:-moz-placeholder,
.ftr textarea:-moz-placeholder {
	opacity: 1; /* Mozilla Firefox 4 to 18 */
	color: #8e8e93;
}

.hdr input-moz-placeholder,
.ftr input-moz-placeholder,
.hdr textarea-moz-placeholder,
.ftr textarea-moz-placeholder {
	opacity: 1; /* Mozilla Firefox 19+ */
	color: #8e8e93;
}

.hdr input:-ms-input-placeholder,
.ftr input:-ms-input-placeholder,
.hdr textarea:-ms-input-placeholder,
.ftr textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #8e8e93;
}

.hdr .btn,
.ftr .btn {
	display: inline-block;
	height: 32px;
	padding: 0 15px;
	border: none;
	border-radius: 3px;
	background-color: #8e93a1;
	color: #ffffff;
	font-size: 12px;
	font-weight: 600;
	line-height: 32px;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hdr .btn__img,
.ftr .btn__img {
	vertical-align: middle;
}

.hdr .btn.btn-dsbld,
.ftr .btn.btn-dsbld {
	background-color: #aaaeb8;
	cursor: not-allowed;
}

.hdr .btn.btn-dsbld:hover,
.ftr .btn.btn-dsbld:hover {
	background-color: #aaaeb8;
}

.hdr .btn.btn-dsbld:active,
.ftr .btn.btn-dsbld:active {
	background-color: #aaaeb8;
}

.hdr .btn:hover,
.ftr .btn:hover {
	background-color: #9ca0ad;
	color: #ffffff;
}

.hdr .btn:active,
.ftr .btn:active {
	background-color: #888e9c;
	color: #ffffff;
}

.hdr .btn--s,
.ftr .btn--s {
	height: 24px;
	padding: 0 15px;
	font-size: 12px;
	line-height: 24px;
}

.hdr .btn--l,
.ftr .btn--l {
	height: 42px;
	padding: 0 20px;
	font-size: 14px;
	line-height: 42px;
}

.hdr .btn--xl,
.ftr .btn--xl {
	height: 48px;
	padding: 0 20px;
	font-size: 14px;
	line-height: 48px;
}

.hdr .btn--red,
.ftr .btn--red {
	background-color: #cc0000;
}

.hdr .btn--red.btn--dsbld,
.ftr .btn--red.btn--dsbld {
	background-color: #ff0000;
	cursor: not-allowed;
}

.hdr .btn--red.btn--dsbld:hover,
.ftr .btn--red.btn--dsbld:hover {
	background-color: #ff0000;
}

.hdr .btn--red.btn--dsbld:active,
.ftr .btn--red.btn--dsbld:active {
	background-color: #ff0000;
}

.hdr .btn--red:hover,
.ftr .btn--red:hover {
	background-color: #e60000;
}

.hdr .btn--red:active,
.ftr .btn--red:active {
	background-color: #c20000;
}

.hdr .btn--blue,
.ftr .btn--blue {
	background-color: #3d6a8c;
}

.hdr .btn--blue.btn--dsbld,
.ftr .btn--blue.btn--dsbld {
	background-color: #4c85b0;
	cursor: not-allowed;
}

.hdr .btn--blue.btn--dsbld:hover,
.ftr .btn--blue.btn--dsbld:hover {
	background-color: #4c85b0;
}

.hdr .btn--blue.btn--dsbld:active,
.ftr .btn--blue.btn--dsbld:active {
	background-color: #4c85b0;
}

.hdr .btn--blue:hover,
.ftr .btn--blue:hover {
	background-color: #45779e;
}

.hdr .btn--blue:active,
.ftr .btn--blue:active {
	background-color: #3a6585;
}

.hdr .btn--no-bg,
.ftr .btn--no-bg {
	border: 1px solid #dfe1e8;
	background: none;
	color: #8e8e93;
}

.hdr .btn--no-bg.btn--slctd,
.ftr .btn--no-bg.btn--slctd {
	background-color: #8e8e93;
	color: #ffffff;
}

.hdr .btn--no-bg.btn--slctd:hover,
.ftr .btn--no-bg.btn--slctd:hover {
	background-color: #8e8e93;
	color: #ffffff;
}

.hdr .btn--no-bg.btn--slctd:active,
.ftr .btn--no-bg.btn--slctd:active {
	background-color: #8e8e93;
	color: #ffffff;
}

.hdr .btn--no-bg.btn--dsbld,
.ftr .btn--no-bg.btn--dsbld {
	color: #a8a8ac;
	cursor: not-allowed;
}

.hdr .btn--no-bg.btn--dsbld:hover,
.ftr .btn--no-bg.btn--dsbld:hover {
	color: #a8a8ac;
}

.hdr .btn--no-bg.btn--dsbld:active,
.ftr .btn--no-bg.btn--dsbld:active {
	color: #a8a8ac;
}

.hdr .btn--no-bg:hover,
.ftr .btn--no-bg:hover {
	background: none;
	color: #818187;
}

.hdr .btn--no-bg:active,
.ftr .btn--no-bg:active {
	background: none;
}

.hdr .btn-GTS,
.ftr .btn-GTS {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 40px;
	padding: 12px 10px 8px 10px;
	border: 1px solid #3d6a8c;
	border-radius: 3px;
	background: #3d6a8c;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.hdr .btn-GTS__str,
.ftr .btn-GTS__str {
	display: inline-block;
	margin-top: 5px;
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px;
	font-weight: 400;
}

.hdr .btn-GTS__lbl,
.ftr .btn-GTS__lbl {
	width: 98px;
}

.hdr .btn-GTS__arw,
.ftr .btn-GTS__arw {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -17px;
	font-size: 30px;
	font-weight: normal;
	transition: right 0.2s ease-in-out;
}

.hdr .btn-GTS:hover .btn-GTS__arw,
.ftr .btn-GTS:hover .btn-GTS__arw,
.hdr .btn-GTS:active .btn-GTS__arw,
.ftr .btn-GTS:active .btn-GTS__arw {
	right: 5px;
}

.hdr .btn-GTS:hover,
.ftr .btn-GTS:hover {
	background: #45779e;
}

.hdr .btn-GTS:active,
.ftr .btn-GTS:active {
	background: #3a6585;
}

.hdr .btn-GTS--arw-down .btn-GTS__str,
.ftr .btn-GTS--arw-down .btn-GTS__str {
	color: #bbbbbb;
}

.hdr .btn-GTS--arw-down .btn-GTS__arw,
.ftr .btn-GTS--arw-down .btn-GTS__arw {
	top: 55%;
	right: 10px;
	transition: top 0.2s ease-in-out;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.hdr .btn-GTS--arw-down:hover .btn-GTS__arw,
.ftr .btn-GTS--arw-down:hover .btn-GTS__arw,
.hdr .btn-GTS--arw-down:active .btn-GTS__arw,
.ftr .btn-GTS--arw-down:active .btn-GTS__arw {
	top: 65%;
	right: 10px;
}

.hdr .btn-GTS--s,
.ftr .btn-GTS--s {
	width: 150px;
}

.hdr .btn-GTS--no-bg,
.ftr .btn-GTS--no-bg {
	background-color: #ffffff;
	color: #3d6a8c;
}

.hdr .btn-GTS--no-bg:hover,
.ftr .btn-GTS--no-bg:hover {
	background: none;
	color: #355d7a;
}

.hdr .btn-GTS--no-bg:hover .btn-GTS__str,
.ftr .btn-GTS--no-bg:hover .btn-GTS__str {
	color: #aeaeae;
}

.hdr .btn-GTS--no-bg:active,
.ftr .btn-GTS--no-bg:active {
	background: none;
}

.hdr .btn-GTS--no-str,
.ftr .btn-GTS--no-str {
	height: auto;
	padding: 20px 10px 20px 10px;
}

.hdr .btn-GTS--dsbld,
.ftr .btn-GTS--dsbld {
	border-color: #8e93a1;
	background: #8e93a1;
}

.hdr .btn-GTS--dsbld:hover,
.ftr .btn-GTS--dsbld:hover {
	background: #8e93a1;
	cursor: not-allowed;
}

.hdr .btn-GTS--dsbld:hover .btn-GTS__arw,
.ftr .btn-GTS--dsbld:hover .btn-GTS__arw {
	right: 10px;
}

.hdr .btn-GTS--s,
.ftr .btn-GTS--s {
	width: 150px;
}

.hdr .btn-GTS--xs,
.ftr .btn-GTS--xs {
	position: relative;
	width: auto;
	height: auto;
	padding: 5px 18px 5px 5px;
	font-size: 11px;
	vertical-align: middle;
}

.hdr .btn-GTS--xs .hdr .btn-GTS__lbl,
.hdr .btn-GTS--xs .ftr .btn-GTS__lbl,
.ftr .btn-GTS--xs .hdr .btn-GTS__lbl,
.ftr .btn-GTS--xs .ftr .btn-GTS__lbl {
	width: 70px;
	vertical-align: middle;
}

.hdr .btn-GTS--xs .hdr .btn-GTS__arw,
.hdr .btn-GTS--xs .ftr .btn-GTS__arw,
.ftr .btn-GTS--xs .hdr .btn-GTS__arw,
.ftr .btn-GTS--xs .ftr .btn-GTS__arw {
	top: 21px;
	right: 7px;
	font-size: 18px;
	font-weight: normal;
	vertical-align: middle;
}

.hdr .tltp,
.ftr .tltp {
	position: absolute;
	display: inline-block;
	max-width: 300px;
	padding: 3px 5px;
	border: 1px solid #dfe1e8;
	background-color: #dfe1e8;
	box-shadow: 0 0 2px rgba(3, 3, 5, 0);
	font-size: 11px;
	line-height: 13px;
}

.hdr .tltp:before,
.ftr .tltp:before {
	position: absolute;
	width: 0;
	height: 0;
	border: .8em solid transparent;
	content: '';
}

.hdr .tltp--top-left:before,
.ftr .tltp--top-left:before {
	bottom: -15px;
	left: 2px;
	border-top: 7px solid #dfe1e8;
}

.hdr .tltp--top-rght:before,
.ftr .tltp--top-rght:before {
	right: 2px;
	bottom: -15px;
	border-top: 7px solid #dfe1e8;
}

.hdr .tltp--btm-left:before,
.ftr .tltp--btm-left:before {
	top: -15px;
	left: 2px;
	border-bottom: 7px solid #dfe1e8;
}

.hdr .tltp--btm-rght:before,
.ftr .tltp--btm-rght:before {
	top: -15px;
	right: 2px;
	border-bottom: 7px solid #dfe1e8;
}

.hdr .tltp--wht,
.ftr .tltp--wht {
	background-color: #ffffff;
}

.hdr .tltp--wht:after,
.ftr .tltp--wht:after {
	position: absolute;
	width: 0;
	height: 0;
	border: .8em solid transparent;
	content: '';
}

.hdr .tltp--wht.tltp--top-left:after,
.ftr .tltp--wht.tltp--top-left:after {
	bottom: -14px;
	left: 2px;
	border-top: 7px solid #ffffff;
}

.hdr .tltp--wht.tltp--top-rght:after,
.ftr .tltp--wht.tltp--top-rght:after {
	right: 2px;
	bottom: -14px;
	border-top: 7px solid #ffffff;
}

.hdr .tltp--wht.tltp--btm-left:after,
.ftr .tltp--wht.tltp--btm-left:after {
	top: -14px;
	left: 2px;
	border-bottom: 7px solid #ffffff;
}

.hdr .tltp--wht.tltp--btm-rght:after,
.ftr .tltp--wht.tltp--btm-rght:after {
	top: -14px;
	right: 2px;
	border-bottom: 7px solid #ffffff;
}

.hdr .ldr,
.ftr .ldr {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100px;
	height: 130px;
	text-align: center;
}

.hdr .ldr__text,
.ftr .ldr__text {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 105px;
	color: #8e8e93;
	font-size: 12px;
}

.hdr .ldr__crcl,
.ftr .ldr__crcl,
.hdr .ldr__crcl::before,
.ftr .ldr__crcl::before,
.hdr .ldr__crcl::after,
.ftr .ldr__crcl::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgba(204, 0, 0, 0.2);
	border-left-color: rgba(204, 0, 0, 0.8);
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
}

.hdr .ldr__crcl,
.ftr .ldr__crcl {
	margin: -25px 0 0 -25px;
	height: 50px;
	width: 50px;
	-webkit-animation: animation-rotate 1000ms linear infinite;
	-moz-animation: animation-rotate 1000ms linear infinite;
	-o-animation: animation-rotate 1000ms linear infinite;
	animation: animation-rotate 1000ms linear infinite;
}

.hdr .ldr__crcl:before,
.ftr .ldr__crcl:before {
	content: "";
	margin: -23px 0 0 -23px;
	height: 44px;
	width: 44px;
	-webkit-animation: animation-rotate 1000ms linear infinite;
	-moz-animation: animation-rotate 1000ms linear infinite;
	-o-animation: animation-rotate 1000ms linear infinite;
	animation: animation-rotate 1000ms linear infinite;
}

.hdr .ldr__crcl:after,
.ftr .ldr__crcl:after {
	content: "";
	margin: -29px 0 0 -29px;
	height: 56px;
	width: 56px;
	-webkit-animation: animation-rotate 2000ms linear infinite;
	-moz-animation: animation-rotate 2000ms linear infinite;
	-o-animation: animation-rotate 2000ms linear infinite;
	animation: animation-rotate 2000ms linear infinite;
}

.hdr .text-link,
.ftr .text-link {
	color: #4e92e3;
	cursor: pointer;
}

.hdr .text-link:hover,
.ftr .text-link:hover {
	text-decoration: underline;
}

.hdr .clearfix,
.ftr .clearfix {
	zoom: 1;
}

.hdr .clearfix:before,
.ftr .clearfix:before,
.hdr .clearfix:after,
.ftr .clearfix:after {
	display: block;
	visibility: hidden;
	overflow: hidden;
	width: 0;
	height: 0;
	content: '\0020';
}

.hdr .clearfix:after,
.ftr .clearfix:after {
	clear: both;
}

.hdr .sctn,
.ftr .sctn {
	margin: 20px 0;
	border: 1px solid #dfe1e8;
	border-radius: 3px;
	background-color: #ffffff;
}

.hdr .sctn__hdr,
.ftr .sctn__hdr {
	padding: 15px 20px;
	border-bottom: 1px solid #dfe1e8;
	line-height: 20px;
	text-transform: capitalize;
}

.hdr .sctn__ttl,
.ftr .sctn__ttl {
	float: left;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

.hdr .sctn__nvgtn,
.ftr .sctn__nvgtn {
	float: right;
}

.hdr .sctn__view-all-link,
.ftr .sctn__view-all-link {
	float: left;
	color: #3b3b3b;
	font-size: 14px;
}

.hdr .sctn__view-all-link:hover,
.ftr .sctn__view-all-link:hover {
	color: #cc0000;
	text-decoration: none;
}

.hdr .sctn__prvs-icon,
.ftr .sctn__prvs-icon,
.hdr .sctn__next-icon,
.ftr .sctn__next-icon {
	float: left;
	width: 10px;
	height: 20px;
	margin-left: 10px;
	cursor: pointer;
}

.hdr .sctn__prvs-icon,
.ftr .sctn__prvs-icon {
	opacity: .5;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-left-black.png);
	background-repeat: no-repeat;
	background-size: auto 18px;
}

.hdr .sctn__prvs-icon:hover,
.ftr .sctn__prvs-icon:hover {
	opacity: 1;
}

.hdr .sctn__next-icon,
.ftr .sctn__next-icon {
	opacity: .5;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-right-black.png);
	background-repeat: no-repeat;
	background-size: auto 18px;
}

.hdr .sctn__next-icon:hover,
.ftr .sctn__next-icon:hover {
	opacity: 1;
}

.hdr .sctn__inr,
.ftr .sctn__inr {
	margin: 10px 20px;
}

.hdr .sctn__view-all,
.ftr .sctn__view-all {
	display: block;
	padding: 17px;
	border-top: 1px solid #dfe1e8;
	background: #e9ebef;
	color: #8e8e93;
	font-size: 14px;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
	text-align: center;
	text-transform: uppercase;
}

.hdr .sctn__view-all:hover,
.ftr .sctn__view-all:hover {
	background-color: #dfe1e8;
	color: #8e8e93;
	text-decoration: none;
}

.hdr .sctn__no-rcrd,
.ftr .sctn__no-rcrd {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 18px;
	margin: auto;
	color: #3b3b3b;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}

.hdr .sctn--no-pdng .sctn__inr,
.ftr .sctn--no-pdng .sctn__inr {
	margin: 0;
}

.hdr .sctn--sdbr .sctn__hdr,
.ftr .sctn--sdbr .sctn__hdr {
	padding: 15px 10px;
}

.hdr .sctn--sdbr .sctn__inr,
.ftr .sctn--sdbr .sctn__inr {
	margin: 0 10px;
}

.hdr .antn-wdgt .sctn__inr,
.ftr .antn-wdgt .sctn__inr {
	font-size: 0;
}

.hdr .antn-wdgt__item,
.ftr .antn-wdgt__item {
	display: inline-block;
	width: 888px;
	white-space: normal;
}

.hdr .antn-wdgt__img-wrpr,
.ftr .antn-wdgt__img-wrpr {
	display: inline-block;
	width: 64px;
	height: 64px;
	text-align: center;
	vertical-align: middle;
}

.hdr .antn-wdgt__img,
.ftr .antn-wdgt__img {
	max-width: 100%;
	max-height: 100%;
}

.hdr .antn-wdgt__item-dscrptn,
.ftr .antn-wdgt__item-dscrptn {
	display: inline-block;
	width: 804px;
	margin-left: -0.28em;
	padding-left: 20px;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
}

.hdr .antn-wdgt__item-ttl,
.ftr .antn-wdgt__item-ttl {
	margin-bottom: 5px;
	font-weight: 600;
	text-transform: uppercase;
}

.hdr .antn-wdgt__item-text,
.ftr .antn-wdgt__item-text {
	color: #8e8e93;
}

.hdr .rtng-wrpr,
.ftr .rtng-wrpr {
	line-height: 14px;
}

.hdr .rtng-wrpr--l,
.ftr .rtng-wrpr--l {
	line-height: 18px;
}

.hdr .rtng-wrpr--l .rtng-star,
.ftr .rtng-wrpr--l .rtng-star {
	width: 79px;
	height: 18px;
	background-size: auto 15px;
}

.hdr .rtng-wrpr--l .rtng-star__inr,
.ftr .rtng-wrpr--l .rtng-star__inr {
	height: 18px;
	background-size: auto 15px;
}

.hdr .rtng-wrpr--l .rtng__cnt,
.ftr .rtng-wrpr--l .rtng__cnt {
	font-size: 14px;
}

.hdr .rtng-wrpr--xl,
.ftr .rtng-wrpr--xl {
	line-height: 18px;
}

.hdr .rtng-wrpr--xl .rtng__cnt,
.ftr .rtng-wrpr--xl .rtng__cnt {
	font-size: 10px;
}

.hdr .rtng-wrpr--xl .rtng-star,
.ftr .rtng-wrpr--xl .rtng-star {
	width: 100px;
	background-size: auto 18px;
}

.hdr .rtng-wrpr--xl .rtng-star__inr,
.ftr .rtng-wrpr--xl .rtng-star__inr {
	background-size: auto 18px;
}

.hdr .rtng-wrpr--xl .rtng-star,
.ftr .rtng-wrpr--xl .rtng-star,
.hdr .rtng-wrpr--xl .rtng-star__inr,
.ftr .rtng-wrpr--xl .rtng-star__inr {
	height: 18px;
	background-size: auto 18px;
}

.hdr .rtng-star,
.ftr .rtng-star {
	width: 65px;
	background-position: left center;
	cursor: pointer;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/star-grey.png);
	background-repeat: repeat-x;
	background-size: auto 12px;
}

.hdr .rtng-star__inr,
.ftr .rtng-star__inr {
	background-position: left center;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/star-gold.png);
	background-repeat: repeat-x;
	background-size: auto 12px;
}

.hdr .rtng-star + .rtng__cnt,
.ftr .rtng-star + .rtng__cnt {
	margin-left: 10px;
}

.hdr .rtng__cnt,
.ftr .rtng__cnt {
	float: left;
	color: #bbbbbb;
	font-size: 10px;
}

.hdr .rtng-star,
.ftr .rtng-star,
.hdr .rtng-star__inr,
.ftr .rtng-star__inr {
	float: left;
	height: 14px;
}

.hdr .rtng-bdg,
.ftr .rtng-bdg {
	display: inline-block;
	margin-left: 10px;
	padding: 4px 6px;
	border-radius: 3px;
	background: #417505;
	color: white;
	font-size: 12px;
	letter-spacing: 2px;
}

.hdr .rtng-bdg--red,
.ftr .rtng-bdg--red {
	background: #cc0000;
}

.hdr .rtng-bdg--orng,
.ftr .rtng-bdg--orng {
	background: #fca835;
}

.hdr .rtng-bdg--lght-green,
.ftr .rtng-bdg--lght-green {
	background: #67b908;
}

.hdr .rtng-bdg--dark-grn,
.ftr .rtng-bdg--dark-grn {
	background: #417505;
}

.hdr .rtng-star + .rtng-bdg,
.ftr .rtng-star + .rtng-bdg {
	margin-left: 10px;
}

.hdr .help-prmpt,
.ftr .help-prmpt {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #cccccc;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
	cursor: default;
	text-align: center;
	vertical-align: middle;
}

.hdr .load-more,
.ftr .load-more {
	width: 100%;
	margin: 20px 0;
	padding: 17px 0;
	border: 1px solid #dfe1e8;
	border-radius: 3px;
	background-color: #e9ebef;
	color: #8e8e93;
	font-size: 14px;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
	text-align: center;
	text-transform: uppercase;
}

.hdr .load-more:hover,
.ftr .load-more:hover {
	background-color: #dfe1e8;
}

.hdr .pgntn,
.ftr .pgntn {
	margin: 20px 0;
	color: #8e8e93;
	font-size: 0;
	text-align: right;
}

.hdr .pgntn__rslt-cnt,
.ftr .pgntn__rslt-cnt {
	float: left;
	font-size: 12px;
	line-height: 30px;
}

.hdr .pgntn__rslt-page,
.ftr .pgntn__rslt-page {
	color: #3b3b3b;
	font-weight: 600;
}

.hdr .pgntn__item,
.ftr .pgntn__item {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #8e93a1;
	border-radius: 3px;
	color: #8e8e93;
	font-size: 12px;
	line-height: 30px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}

.hdr .pgntn__item:hover,
.ftr .pgntn__item:hover {
	background-color: #8e8e93;
	color: #ffffff;
	text-decoration: none;
}

.hdr .pgntn__item--next,
.ftr .pgntn__item--next,
.hdr .pgntn__item--prvs,
.ftr .pgntn__item--prvs {
	font-size: 25px;
	line-height: 25px;
}

.hdr .pgntn__item--crnt,
.ftr .pgntn__item--crnt {
	border-color: #bbbbbb;
	background-color: #dfe1e8;
	color: #8e8e93;
}

.hdr .pgntn__item--crnt:hover,
.ftr .pgntn__item--crnt:hover {
	background-color: #dfe1e8;
	color: #8e8e93;
	cursor: not-allowed;
}

.hdr .pgntn__ellipsis,
.ftr .pgntn__ellipsis {
	display: inline-block;
	margin: 0 10px;
	font-size: 12px;
	letter-spacing: 5px;
}

.hdr .pgntn__item + .hdr .pgntn__item,
.hdr .pgntn__item + .ftr .pgntn__item,
.ftr .pgntn__item + .hdr .pgntn__item,
.ftr .pgntn__item + .ftr .pgntn__item {
	margin-left: 10px;
}

.hdr .info-wdgt__item-wrpr,
.ftr .info-wdgt__item-wrpr {
	margin-left: 20px;
	color: #8e8e93;
	line-height: 1.4;
	list-style: disc outside none;
}

.hdr .info-wdgt__item,
.ftr .info-wdgt__item {
	margin-bottom: 5px;
}

.hdr .btm-info,
.ftr .btm-info {
	text-align: center;
	margin: 20px 0;
	color: #8e8e93;
}

.hdr .sort,
.ftr .sort {
	width: 148px;
	margin-left: 10px;
	padding: 5px 10px;
	border: 1px solid #dfe1e8;
	border-radius: 3px;
	background-color: #ffffff;
	background-position: center right 10px;
	color: #8e8e93;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-grey-small.png);
	background-repeat: no-repeat;
	background-size: 8px auto;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.hdr .sort:before,
.ftr .sort:before {
	content: '';
	position: absolute;
	visibility: hidden;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-black-small.png);
}

.hdr .sort-wrpr,
.ftr .sort-wrpr {
	float: right;
	margin-left: 20px;
	color: #8e8e93;
	font-weight: 600;
}

.hdr .sort:hover,
.ftr .sort:hover {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-black-small.png);
	background-repeat: no-repeat;
	background-size: 8px auto;
}

.hdr .bdg,
.ftr .bdg {
	position: relative;
	padding: 0 12px 0 6px;
	border: 1px solid #5eb8ae;
	border-right: 0;
	border-radius: 3px 0 0 3px;
	color: #5eb8ae;
	font-size: 10px;
	line-height: 16px;
}

.hdr .bdg:after,
.ftr .bdg:after {
	position: absolute;
	right: 1px;
	border: 8px solid #ffffff;
	border-right-color: transparent !important;
	border-left-width: 0;
	content: '';
}

.hdr .bdg:before,
.ftr .bdg:before {
	position: absolute;
	right: 0;
	border: 8px solid #5eb8ae;
	border-right-color: #ffffff !important;
	border-left-width: 0;
	content: '';
}

.hdr .bdg--fld,
.ftr .bdg--fld {
	border-color: #5eb8ae;
	background-color: #5eb8ae;
	color: #ffffff;
}

.hdr .bdg--fld:after,
.ftr .bdg--fld:after {
	border: 0;
}

.hdr .bdg--fld:before,
.ftr .bdg--fld:before {
	border-color: #5eb8ae;
}

.hdr .bdg--fld-gldn,
.ftr .bdg--fld-gldn {
	border-color: #b8860c;
	background-color: #b8860c;
	color: #ffffff;
}

.hdr .bdg--fld-gldn:after,
.ftr .bdg--fld-gldn:after {
	border: 0;
}

.hdr .bdg--fld-gldn:before,
.ftr .bdg--fld-gldn:before {
	border-color: #b8860c;
}

.hdr .tag,
.ftr .tag {
	padding: 2px 5px;
	border-radius: 3px;
	background-color: #8e93a1;
	color: #ffffff;
	font-size: 10px;
	vertical-align: top;
	text-transform: uppercase;
}

.hdr .tag--lght-grey,
.ftr .tag--lght-grey {
	background-color: #dfe1e8;
	color: #8e8e93;
}

.hdr .tag--orng,
.ftr .tag--orng {
	background-color: #fca835;
}

.hdr .tag--green,
.ftr .tag--green {
	background-color: #5eb8ae;
}

.hdr .cntdwn,
.ftr .cntdwn {
	margin-left: 5px;
}

.hdr .cntdwn__mins,
.ftr .cntdwn__mins,
.hdr .cntdwn__scnds,
.ftr .cntdwn__scnds {
	display: inline-block;
	padding: 0 5px;
	border: 1px solid #cc0000;
	border-radius: 3px;
	color: #cc0000;
}

.hdr .avlbl-clrs__item,
.ftr .avlbl-clrs__item {
	float: left;
	margin-top: 1px;
}

.hdr .avlbl-clrs__item + .hdr .avlbl-clrs__item,
.hdr .avlbl-clrs__item + .ftr .avlbl-clrs__item,
.ftr .avlbl-clrs__item + .hdr .avlbl-clrs__item,
.ftr .avlbl-clrs__item + .ftr .avlbl-clrs__item {
	margin-left: 5px;
}

.hdr .avlbl-clrs__inpt,
.ftr .avlbl-clrs__inpt {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.hdr .avlbl-clrs__lbl,
.ftr .avlbl-clrs__lbl {
	width: 16px;
	height: 16px;
	border: 2px solid transparent;
	border-radius: 50%;
	cursor: pointer;
	transition: border 0.2s ease-in-out;
}

.hdr .avlbl-clrs__lbl-inr,
.ftr .avlbl-clrs__lbl-inr {
	display: block;
	height: 14px;
	border: 1px solid #dfe1e8;
	border-radius: 50%;
	background-color: #ffffff;
}

.hdr .avlbl-clrs__lbl:hover,
.ftr .avlbl-clrs__lbl:hover {
	border: 2px solid #3d6a8c;
}

.hdr .avlbl-clrs__inpt:checked + .hdr .avlbl-clrs__lbl,
.hdr .avlbl-clrs__inpt:checked + .ftr .avlbl-clrs__lbl,
.ftr .avlbl-clrs__inpt:checked + .hdr .avlbl-clrs__lbl,
.ftr .avlbl-clrs__inpt:checked + .ftr .avlbl-clrs__lbl {
	border-color: #3d6a8c;
}

.hdr .avlbl-sizes,
.ftr .avlbl-sizes {
	line-height: 20px;
}

.hdr .avlbl-sizes__item,
.ftr .avlbl-sizes__item {
	padding: 0 4px;
	border: 1px solid #dfe1e8;
	border-radius: 3px;
	color: #8e8e93;
	vertical-align: middle;
	text-transform: uppercase;
}

.hdr .avlbl-sizes__item-wrpr,
.ftr .avlbl-sizes__item-wrpr {
	float: left;
	padding: 0 1px;
	cursor: pointer;
}

.hdr .avlbl-sizes__item-wrpr + .hdr .avlbl-sizes__item-wrpr,
.hdr .avlbl-sizes__item-wrpr + .ftr .avlbl-sizes__item-wrpr,
.ftr .avlbl-sizes__item-wrpr + .hdr .avlbl-sizes__item-wrpr,
.ftr .avlbl-sizes__item-wrpr + .ftr .avlbl-sizes__item-wrpr {
	margin-left: 5px;
}

.hdr .avlbl-sizes__item-wrpr:hover,
.ftr .avlbl-sizes__item-wrpr:hover {
	padding: 0;
}

.hdr .avlbl-sizes__item-wrpr:hover .avlbl-sizes__item,
.ftr .avlbl-sizes__item-wrpr:hover .avlbl-sizes__item {
	border: 2px solid #3d6a8c;
	color: #3d6a8c;
}

.hdr .avlbl-sizes__item-wrpr--slctd,
.ftr .avlbl-sizes__item-wrpr--slctd {
	padding: 0;
}

.hdr .avlbl-sizes__item-wrpr--slctd .avlbl-sizes__item,
.ftr .avlbl-sizes__item-wrpr--slctd .avlbl-sizes__item {
	border: 2px solid #3d6a8c;
	color: #3d6a8c;
}

.hdr .rvw-scr,
.ftr .rvw-scr {
	position: relative;
	float: right;
	overflow: hidden;
	width: 185px;
	height: 125px;
	border: 1px solid #67b908;
	border-radius: 3px;
	color: #67b908;
}

.hdr .rvw-scr__val,
.ftr .rvw-scr__val {
	margin: 17px 0 7px 0;
	font-size: 55px;
	text-align: center;
}

.hdr .rvw-scr__max,
.ftr .rvw-scr__max {
	color: #bbbbbb;
	text-align: center;
}

.hdr .rvw-scr__ttl,
.ftr .rvw-scr__ttl {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #67b908;
	color: #ffffff;
	line-height: 24px;
	text-align: center;
}

.hdr .rvw-scr--red,
.ftr .rvw-scr--red {
	border: 1px solid #cc0000;
	color: #cc0000;
}

.hdr .rvw-scr--red .rvw-scr__ttl,
.ftr .rvw-scr--red .rvw-scr__ttl {
	background-color: #cc0000;
}

.hdr .rvw-scr--orng,
.ftr .rvw-scr--orng {
	border: 1px solid #fca835;
	color: #fca835;
}

.hdr .rvw-scr--orng .rvw-scr__ttl,
.ftr .rvw-scr--orng .rvw-scr__ttl {
	background-color: #fca835;
}

.hdr .rvw-scr--lght-grn,
.ftr .rvw-scr--lght-grn {
	border: 1px solid #67b908;
	color: #67b908;
}

.hdr .rvw-scr--lght-grn .rvw-scr__ttl,
.ftr .rvw-scr--lght-grn .rvw-scr__ttl {
	background-color: #67b908;
}

.hdr .rvw-scr--dark-grn,
.ftr .rvw-scr--dark-grn {
	border: 1px solid #417505;
	color: #417505;
}

.hdr .rvw-scr--dark-grn .rvw-scr__ttl,
.ftr .rvw-scr--dark-grn .rvw-scr__ttl {
	background-color: #417505;
}

.hdr .msg-box,
.ftr .msg-box {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	border-radius: 3px;
	background: #ffffff;
	box-shadow: -1px 1px 12px rgba(0, 0, 0, 0.2);
	cursor: default;
	transition: opacity .5s, visibility .5s;
}

.hdr .msg-box--show,
.ftr .msg-box--show {
	visibility: visible;
	opacity: 1;
}

.hdr .msg-box__hdr,
.ftr .msg-box__hdr {
	padding: 7px;
	border-radius: 3px 3px 0 0;
	background: #8e93a1;
	color: #ffffff;
	font-weight: 600;
}

.hdr .msg-box__cls,
.ftr .msg-box__cls {
	float: right;
	font-size: 18px;
	line-height: 12px;
	cursor: pointer;
	vertical-align: middle;
}

.hdr .msg-box__inr,
.ftr .msg-box__inr {
	padding: 0 5px;
	border: 1px solid #d0d3dd;
	border-top: 0;
	border-radius: 0 0 3px 3px;
}

.hdr .msg-box__row,
.ftr .msg-box__row {
	padding: 10px 5px;
	line-height: 17px;
}

.hdr .msg-box__row + .hdr .msg-box__row,
.hdr .msg-box__row + .ftr .msg-box__row,
.ftr .msg-box__row + .hdr .msg-box__row,
.ftr .msg-box__row + .ftr .msg-box__row {
	border-top: 1px solid #dfe1e8;
}

.hdr .js-ovrly,
.ftr .js-ovrly {
	position: fixed;
	z-index: 1400;
	top: 0;
	display: none;
	width: 100%;
	height: 100%;
}

.hdr .js-ovrly--show,
.ftr .js-ovrly--show {
	display: block;
}

.hdr .js-ovrly--dark,
.ftr .js-ovrly--dark {
	background-color: rgba(0, 0, 0, 0.9);
}

.hdr .js-ovrly .glctn-ovrly-text,
.ftr .js-ovrly .glctn-ovrly-text {
	margin-top: 215px;
	color: white;
	font-size: 30px;
	text-align: center;
}

.hdr .to-top,
.ftr .to-top {
	position: fixed;
	z-index: 11;
	top: 83%;
	right: 0;
	display: none;
	opacity: .9;
	cursor: pointer;
	transition: background .1s ease;
}

.hdr .to-top__btn,
.ftr .to-top__btn {
	position: relative;
	z-index: 2;
	width: 30px;
	height: 30px;
	border-radius: 3px 0 0 3px;
	background-color: #dfe1e8;
	background-position: center;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-up-grey.png);
	background-repeat: no-repeat;
	background-size: 14px auto;
}

.hdr .to-top__lbl,
.ftr .to-top__lbl {
	position: absolute;
	top: 0;
	left: 0;
	width: 85px;
	height: 20px;
	padding: 5px;
	border-radius: 3px 0 0 3px;
	background-color: #8e93a1;
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	transition: left .2s ease;
	text-align: center;
}

.hdr .to-top:hover,
.ftr .to-top:hover {
	border-radius: 0;
}

.hdr .to-top:hover .to-top__lbl,
.ftr .to-top:hover .to-top__lbl {
	left: -95px;
	display: block;
}

.hdr .js-vldtn-err,
.ftr .js-vldtn-err {
	display: none;
	color: #cc0000;
}

.hdr.hdr {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	max-height: 100px;
	background-color: #ffffff;
	transition: max-height 0.3s ease-in-out;
}

.hdr.hdr--sld {
	max-height: 59px;
}

.hdr.hdr--scrl {
	position: relative;
}

.hdr .main-hdr-wrpr {
	position: relative;
	z-index: 1200;
	height: 59px;
	border-bottom: 1px solid #dfe1e8;
	background-color: #ffffff;
}

.hdr .main-hdr {
	position: relative;
	width: 1200px;
	margin: auto;
}

.hdr .sub-hdr {
	position: relative;
	z-index: 1100;
	top: 0;
	height: 39px;
	border-bottom: 1px solid #dfe1e8;
	background-color: #ffffff;
	transition: top 0.3s ease-in-out;
}

.hdr .sub-hdr.hide {
	top: -40px;
}

.hdr .hdr-logo {
	float: left;
	width: 140px;
	margin: 12px 30px 12px 0;
	text-decoration: none;
}

.hdr .hdr-logo__img {
	width: 140px;
}

.hdr .hdr-size__main {
	height: 60px;
}

.hdr .hdr-size__sub-hdr {
	height: 40px;
}

.hdr .drpdwn-menu-wrpr {
	position: relative;
	overflow: hidden;
	width: 280px;
	height: 0;
	background-color: #ffffff;
	cursor: auto;
	transition: height 0.3s ease-in-out;
}

.hdr .drpdwn-menu-wrpr--show {
	overflow: visible;
	height: 472px;
	border: 1px solid #dfe1e8;
}

.hdr .drpdwn-menu-wrpr__ldng {
	display: none;
}

.hdr .drpdwn-menu-wrpr--s.drpdwn-menu-wrpr--show {
	height: 416px;
}

.hdr .drpdwn-menu-wrpr--s .drpdwn-menu-wrpr__ldng {
	height: 414px;
}

.hdr .drpdwn-menu-wrpr--s .drpdwn-sub-ctgry__ttl-wrpr ~ .drpdwn-sub-ctgry__ttl-wrpr {
	margin-top: 3px;
}

.hdr .drpdwn-menu-wrpr--s .drpdwn-menu__ctgry {
	padding: 5px 10px 5px 15px;
}

.hdr .drpdwn-menu-wrpr--s .drpdwn-sub-ctgry__item {
	padding: 2px 0;
}

.hdr .drpdwn-menu {
	opacity: 0;
	font-weight: normal;
	transition: opacity 0.3s ease-in-out;
}

.hdr .drpdwn-menu--show {
	opacity: 1;
}

.hdr .drpdwn-menu__ofr-wrpr {
	padding: 0;
}

.hdr .drpdwn-menu__ofr {
	height: 30px;
	padding: 5px 10px 5px 10px;
	border-bottom: 1px solid #dfe1e8;
	line-height: 30px;
	text-transform: uppercase;
}

.hdr .drpdwn-menu__ofr-link {
	color: #5eb8ae;
}

.hdr .drpdwn-menu__ofr-link:hover {
	color: #5eb8ae;
	text-decoration: none;
}

.hdr .drpdwn-menu__img {
	float: left;
	width: 30px;
	max-height: 30px;
	margin-right: 10px;
}

.hdr .drpdwn-menu__ctgry-wrpr {
	padding: 5px 0;
}

.hdr .drpdwn-menu__ctgry {
	padding: 7px 10px 7px 15px;
	line-height: 0;
	text-transform: capitalize;
}

.hdr .drpdwn-menu__ctgry-link {
	display: inline-block;
	width: 230px;
	color: #8e8e93;
	line-height: 16px;
	vertical-align: middle;
}

.hdr .drpdwn-menu__ctgry-link:hover {
	color: #cc0000;
	text-decoration: none;
}

.hdr .drpdwn-menu__icon-rght {
	display: inline-block;
	width: 23px;
	height: 16px;
	margin-left: -0.28em;
	background-position: right center;
	vertical-align: middle;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-right-grey-small.png);
	background-repeat: no-repeat;
	background-size: 6px auto;
}

.hdr .drpdwn-menu__ctgry:hover,
.hdr .drpdwn-menu__ctgry:active {
	color: #cc0000;
}

.hdr .drpdwn-menu__ctgry:hover .drpdwn-menu__ctgry-link,
.hdr .drpdwn-menu__ctgry:active .drpdwn-menu__ctgry-link {
	color: #cc0000;
}

.hdr .drpdwn-menu__ctgry:hover .drpdwn-sub-menu,
.hdr .drpdwn-menu__ctgry:active .drpdwn-sub-menu {
	display: block;
}

.hdr .drpdwn-menu__ctgry:hover .drpdwn-menu__icon-rght,
.hdr .drpdwn-menu__ctgry:active .drpdwn-menu__icon-rght {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-right-black-small.png);
	background-repeat: no-repeat;
	background-size: 6px auto;
}

.hdr .drpdwn-menu__ctgry:before {
	content: '';
	position: absolute;
	visibility: hidden;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-right-black-small.png);
}

.hdr .drpdwn-sub-menu {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: -1px;
	left: 100%;
	display: none;
	width: 480px;
	padding: 0 10px;
	border: 1px solid #dfe1e8;
	border-top: 0;
	background-color: #ffffff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
	cursor: auto;
}

.hdr .drpdwn-sub-ctgry {
	float: left;
	width: 210px;
	margin-right: 15px;
	color: #8e8e93;
}

.hdr .drpdwn-sub-ctgry__ttl {
	float: left;
	margin-bottom: 5px;
	border-bottom: 1px solid #dfe1e8;
	color: #cc0000;
	font-size: 14px;
	line-height: 40px;
}

.hdr .drpdwn-sub-ctgry__ttl-wrpr ~ .hdr .drpdwn-sub-ctgry__ttl-wrpr {
	margin-top: 7px;
}

.hdr .drpdwn-sub-ctgry__item {
	padding: 5px 0;
	line-height: 16px;
}

.hdr .drpdwn-sub-ctgry__item-link {
	color: #8e8e93;
}

.hdr .drpdwn-sub-ctgry__item-link:hover {
	color: #cc0000;
	text-decoration: none;
}

.hdr .drpdwn-menu-ovrly {
	position: fixed;
	z-index: 900;
	top: 0;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	transition: opacity .3s;
}

.hdr .drpdwn-menu-ovrly--show {
	visibility: visible;
	opacity: .6;
}

.hdr { /* Search Starts */ /* Search Ends */ /* search results page css */
}

.hdr .srch-wdgt {
	position: relative;
	float: left;
	width: 528px;
	height: 38px;
	margin: 10px 0;
	border: 1px solid #dfe1e8;
	border-radius: 3px;
	background: #e9ebef;
	color: #717171;
}

.hdr .srch-wdgt--s {
	width: 198px;
	height: 28px;
}

.hdr .srch-wdgt--s .srch-wdgt__sbmt {
	height: 28px;
}

.hdr .srch-wdgt--s .srch-wdgt__fld {
	width: 170px;
	height: 28px;
	line-height: 28px;
}

.hdr .srch-wdgt--show-rslt {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.hdr .srch-wdgt__fld {
	width: 470px;
	height: 38px;
	padding: 0 10px;
	border: 0;
	background: none;
	color: #8e8e93;
	font-size: 12px;
	line-height: 38px;
	vertical-align: middle;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.hdr .srch-wdgt__fld::-webkit-input-placeholder { /* WebKit browsers */
	color: #8e8e93;
}

.hdr .srch-wdgt__fld:-moz-placeholder {
	opacity: 1; /* Mozilla Firefox 4 to 18 */
	color: #8e8e93;
}

.hdr .srch-wdgt__fld-moz-placeholder {
	opacity: 1; /* Mozilla Firefox 19+ */
	color: #8e8e93;
}

.hdr .srch-wdgt__fld:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #8e8e93;
}

.hdr .srch-wdgt__sbmt {
	float: right;
	width: 38px;
	height: 38px;
	padding: 0;
	border: 0;
	border-radius: 0 3px 3px 0;
	background-color: rgba(0, 0, 0, 0);
	background-position: center;
	cursor: pointer;
	transition: background 0.3s ease-in;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/search-red.png);
	background-repeat: no-repeat;
	background-size: 24px auto;
}

.hdr .srch-wdgt__sbmt:before {
	content: '';
	position: absolute;
	visibility: hidden;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/search-white.png);
}

.hdr .srch-wdgt__sbmt:hover {
	background-color: #cc0000;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/search-white.png);
	background-repeat: no-repeat;
	background-size: 24px auto;
}

.hdr .ui-helper-hidden-accessible {
	display: none;
}

.hdr .ui-autocomplete {
	width: 100%;
	border: 1px solid #dfe1e8;
	border-top: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #ffffff;
}

.hdr .ui-menu {
	display: block;
	margin: 0;
	padding: 0;
	outline: 0;
	list-style: none;
}

.hdr .ui-menu-item a {
	display: block;
	padding: 3px 10px;
	color: #8e8e93;
	line-height: 1.4;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hdr .ui-menu .ui-menu-item .ui-state-focus {
	background-color: #e9ebef;
	font-weight: normal;
}

.hdr .page-ttl {
	margin: 10px 0 -5px;
	border-bottom: 1px solid #dfe1e8;
	color: #c00;
	font-size: 20px;
	line-height: 35px;
}

.hdr .rslt-ctgry {
	font-size: 0;
}

.hdr .rslt-ctgry__next-icon {
	float: right;
	opacity: .5;
	background-position: center;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-right-black.png);
	background-repeat: no-repeat;
	background-size: auto 18px;
}

.hdr .rslt-ctgry__next-icon:hover {
	opacity: 1;
}

.hdr .rslt-ctgry-item-wrpr {
	float: left;
	width: 920px;
	margin: 4px;
}

.hdr .rslt-ctgry-item {
	display: inline-block;
	width: 194px;
	margin: 16px 0 16px 16px;
	padding: 7px;
	border: 1px solid #dfe1e8;
	border-radius: 3px;
	font-size: 12px;
	white-space: normal;
	vertical-align: top;
}

.hdr .rslt-ctgry-item__ttl {
	display: block;
	height: 32px;
	color: #3b3b3b;
	line-height: 1.4;
	vertical-align: top;
	white-space: normal;
	overflow: hidden;
	cursor: pointer;
}

.hdr .rslt-ctgry-item__cnt {
	display: inline-block;
	width: 115px;
	margin-top: 10px;
	vertical-align: middle;
}

.hdr .rslt-ctgry-item__cnt-val,
.hdr .rslt-ctgry-item__cnt-lbl {
	display: block;
}

.hdr .rslt-ctgry-item__cnt-val {
	font-size: 18px;
	font-weight: 600;
	color: #3d6a8c;
}

.hdr .rslt-ctgry-item__cnt-lbl {
	margin-top: 5px;
}

.hdr .rslt-ctgry-item__img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: bottom;
}

.hdr .rslt-ctgry-item__img-wrpr {
	display: inline-block;
	width: 75px;
	height: 50px;
	margin-top: 10px;
	line-height: 50px;
	text-align: right;
	vertical-align: middle;
}

.hdr .nvgtn-bar {
	top: 0;
	width: 1200px;
	height: 39px;
	margin: auto;
	text-transform: uppercase;
}

.hdr .nvgtn-bar--s {
	height: 28px;
}

.hdr .nvgtn-bar--s .nvgtn-bar__item {
	height: 28px;
	font-size: 10px;
	line-height: 28px;
}

.hdr .nvgtn-bar__item {
	position: relative;
	float: left;
	height: 39px;
	line-height: 39px;
	vertical-align: middle;
}

.hdr .nvgtn-bar__item:before {
	position: absolute;
	left: 0;
	float: left;
	border: 0;
	color: #dfe1e8;
	content: '|';
}

.hdr .nvgtn-bar__item--ctgry {
	padding-right: 15px;
	color: #3b3b3b;
	font-weight: 600;
}

.hdr .nvgtn-bar__item--ctgry:before {
	content: '';
}

.hdr .nvgtn-bar__item--actv {
	border-bottom: 1px solid #c00;
	color: #c00;
}

.hdr .nvgtn-bar__item--frst:before {
	content: '';
}

.hdr .nvgtn-bar__item-link {
	display: block;
	padding: 0 15px 0 20px;
	color: #3b3b3b;
}

.hdr .nvgtn-bar__item-link:hover {
	color: #cc0000;
	text-decoration: none;
}

.hdr .menu-ctgry {
	width: 150px;
	padding-right: 15px;
	color: #cc0000;
	font-weight: 600;
	cursor: pointer;
}

.hdr .menu-ctgry:before {
	content: '';
}

.hdr .menu-ctgry:hover {
	background-color: #e9ebef;
	color: #cc0000;
}

.hdr .menu-ctgry__hmbrgr-icon {
	float: left;
	width: 16px;
	height: 39px;
	margin: 0 7px;
	background-position: center;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/category-icon-red.png);
	background-repeat: no-repeat;
	background-size: 12px auto;
}

.hdr .menu-ctgry__down-icon {
	float: right;
	width: 10px;
	height: 39px;
	background-position: center;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-grey-small.png);
	background-repeat: no-repeat;
	background-size: 8px auto;
}

.hdr .menu-ctgry__down-icon:before {
	content: '';
	position: absolute;
	visibility: hidden;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-black-small.png);
}

.hdr .menu-ctgry:hover .menu-ctgry__down-icon {
	background-position: center;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-black-small.png);
	background-repeat: no-repeat;
	background-size: 8px auto;
}

.hdr .drpdwn-wdgt,
.ftr .drpdwn-wdgt {
	position: absolute;
	right: 0;
	float: right;
	width: 198px;
	max-height: 28px;
	margin: 10px 0;
	border: 1px solid #dfe1e8;
	border-radius: 3px;
	background-color: #ffffff;
	color: #8e8e93;
	font-size: 12px;
	line-height: 30px;
	cursor: pointer;
	transition: max-height 0.5s ease-in-out;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hdr .drpdwn-wdgt__menu,
.ftr .drpdwn-wdgt__menu {
	height: 28px;
	padding-right: 10px;
	font-weight: 600;
	line-height: 28px;
}

.hdr .drpdwn-wdgt__menu-link,
.ftr .drpdwn-wdgt__menu-link {
	color: #8e8e93;
}

.hdr .drpdwn-wdgt__menu-link:hover,
.ftr .drpdwn-wdgt__menu-link:hover {
	color: #cc0000;
	text-decoration: none;
}

.hdr .drpdwn-wdgt__menu-img-wrpr,
.ftr .drpdwn-wdgt__menu-img-wrpr {
	position: relative;
	float: left;
	width: 38px;
	height: 38px;
	margin-right: 10px;
	background-color: #dfe1e8;
	text-align: center;
}

.hdr .drpdwn-wdgt__menu-img,
.ftr .drpdwn-wdgt__menu-img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	vertical-align: middle;
}

.hdr .drpdwn-wdgt__down-icon,
.ftr .drpdwn-wdgt__down-icon {
	float: right;
	width: 10px;
	height: 100%;
	background-position: center;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-grey-small.png);
	background-repeat: no-repeat;
	background-size: 8px auto;
}

.hdr .drpdwn-wdgt__menu-text,
.ftr .drpdwn-wdgt__menu-text {
	float: left;
	width: 130px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hdr .drpdwn-wdgt__item,
.ftr .drpdwn-wdgt__item {
	display: block;
	height: 30px;
	padding: 0 10px 0 15px;
}

.hdr .drpdwn-wdgt:hover,
.ftr .drpdwn-wdgt:hover {
	max-height: 500px;
}

.hdr .drpdwn-wdgt:hover .drpdwn-wdgt__down-icon,
.ftr .drpdwn-wdgt:hover .drpdwn-wdgt__down-icon {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-black-small.png);
	background-repeat: no-repeat;
	background-size: 8px auto;
}

.hdr .drpdwn-wdgt:hover:before,
.ftr .drpdwn-wdgt:hover:before {
	content: '';
	position: absolute;
	visibility: hidden;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-black-small.png);
}

.hdr .drpdwn-wdgt--l,
.ftr .drpdwn-wdgt--l {
	max-height: 38px;
}

.hdr .drpdwn-wdgt--l .drpdwn-wdgt__menu,
.ftr .drpdwn-wdgt--l .drpdwn-wdgt__menu {
	height: 38px;
	line-height: 38px;
}

.hdr .acnt,
.ftr .acnt {
	padding-top: 10px;
	border-top: 1px solid #dfe1e8;
	text-align: center;
}

.hdr .acnt__lgn,
.ftr .acnt__lgn {
	height: 32px;
}

.hdr .acnt__rgstr-link,
.ftr .acnt__rgstr-link {
	color: #4e92e3;
	font-weight: 600;
}

.hdr .acnt__rgstr-link:hover,
.ftr .acnt__rgstr-link:hover {
	text-decoration: underline;
}

.hdr .user-link,
.ftr .user-link {
	padding: 5px 0;
	border-top: 1px solid #dfe1e8;
}

.hdr .user-link__icon-rcnt-view,
.ftr .user-link__icon-rcnt-view,
.hdr .user-link__icon-svd-prdcts,
.ftr .user-link__icon-svd-prdcts,
.hdr .user-link__icon-rvws,
.ftr .user-link__icon-rvws,
.hdr .user-link__icon-rwrds,
.ftr .user-link__icon-rwrds {
	float: left;
	width: 30px;
	height: 100%;
	background-position: left center;
}

.hdr .user-link__icon-rcnt-view,
.ftr .user-link__icon-rcnt-view {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/eye-grey.png);
	background-repeat: no-repeat;
	background-size: 20px auto;
}

.hdr .user-link__rcnt-view:hover .user-link__icon-rcnt-view,
.ftr .user-link__rcnt-view:hover .user-link__icon-rcnt-view {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/eye-red.png);
	background-repeat: no-repeat;
	background-size: 20px auto;
}

.hdr .user-link__rcnt-view:before,
.ftr .user-link__rcnt-view:before {
	content: '';
	position: absolute;
	visibility: hidden;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/eye-red.png);
}

.hdr .user-link__icon-svd-prdcts,
.ftr .user-link__icon-svd-prdcts {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/heart-grey.png);
	background-repeat: no-repeat;
	background-size: 16px auto;
}

.hdr .user-link__svd-prdcts:hover .user-link__icon-svd-prdcts,
.ftr .user-link__svd-prdcts:hover .user-link__icon-svd-prdcts {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/heart-red.png);
	background-repeat: no-repeat;
	background-size: 16px auto;
}

.hdr .user-link__svd-prdcts:before,
.ftr .user-link__svd-prdcts:before {
	content: '';
	position: absolute;
	visibility: hidden;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/heart-red.png);
}

.hdr .user-link__icon-rvws,
.ftr .user-link__icon-rvws {
	background-position: left center;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/reviews-grey-small.png);
	background-repeat: no-repeat;
	background-size: 18px auto;
}

.hdr .user-link__rvws:hover .user-link__icon-rvws,
.ftr .user-link__rvws:hover .user-link__icon-rvws {
	background-position: left center;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/reviews-red-small.png);
	background-repeat: no-repeat;
	background-size: 18px auto;
}

.hdr .user-link__rvws:before,
.ftr .user-link__rvws:before {
	content: '';
	position: absolute;
	visibility: hidden;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/reviews-red-small.png);
}

.hdr .user-link__icon-rwrds,
.ftr .user-link__icon-rwrds {
	background-position: left center;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/coins-grey-small.png);
	background-repeat: no-repeat;
	background-size: 17px auto;
}

.hdr .user-link__rwrds:hover .user-link__icon-rwrds,
.ftr .user-link__rwrds:hover .user-link__icon-rwrds {
	background-position: left center;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/coins-red-small.png);
	background-repeat: no-repeat;
	background-size: 17px auto;
}

.hdr .user-link__rwrds:before,
.ftr .user-link__rwrds:before {
	content: '';
	position: absolute;
	visibility: hidden;
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/coins-red-small.png);
}

.hdr .user-lgt,
.ftr .user-lgt {
	display: none;
	border-top: 1px solid #dfe1e8;
}

.ftr.ftr {
	min-width: 1200px;
	border-top: 1px solid #dfe1e8;
}

.ftr.ftr--prmtn {
	padding-bottom: 60px;
}

.ftr.ftr__clmn-wrpr1 {
	background-color: #ffffff;
}

.ftr.ftr__clmn-wrpr {
	width: 1200px;
	margin: 20px auto;
}

.ftr.ftr__clmn {
	float: left;
	width: 380px;
	line-height: 1.4;
}

.ftr.ftr__clmn + .ftr.ftr__clmn {
	margin-left: 30px;
}

.ftr.ftr__clmn-ttl-wrpr {
	position: relative;
	margin-bottom: 10px;
	font-size: 14px;
}

.ftr.ftr__clmn-ttl-wrpr:before {
	position: absolute;
	top: 50%;
	width: 100%;
	border-bottom: 1px solid #dfe1e8;
	content: '';
}

.ftr.ftr__clmn-ttl {
	position: relative;
	z-index: 100;
	padding-right: 10px;
	background-color: #ffffff;
	font-size: 14px;
	font-weight: 600;
}

.ftr.ftr__clmn-link {
	margin-right: 5px;
}

.ftr.ftr__qck-link-clmn {
	float: left;
	width: 175px;
}

.ftr.ftr__qck-link-clmn + .ftr.ftr__qck-link-clmn {
	margin-left: 30px;
}

.ftr.ftr__qck-link {
	display: block;
	margin-bottom: 10px;
	color: #8e8e93;
	line-height: 18px;
	text-transform: uppercase;
}

.ftr.ftr__qck-link:hover {
	color: #cc0000;
	text-decoration: none;
}

.ftr.ftr__extr-info {
	width: 1200px;
	margin: 20px auto;
	color: #8e8e93;
}

.ftr.ftr__cpyrght-wrpr {
	float: left;
}

.ftr.ftr__made-in-india {
	float: right;
	margin: 13px 0;
}

.ftr.ftr__heart {
	color: #cc0000;
}

.ftr.ftr__flag {
	margin-left: 2px;
	vertical-align: middle;
}

.ftr .ftr-msg {
	width: 378;
	margin-bottom: 20px;
	border: 1px solid #dfe1e8;
	border-radius: 3px;
}

.ftr .ftr-msg__img-wrpr {
	float: left;
	width: 60px;
	height: 75px;
	margin: 15px;
}

.ftr .ftr-msg__img {
	max-width: 100%;
	max-height: 100%;
}

.ftr .ftr-msg__txt-wrpr {
	float: left;
	width: 258px;
	height: 75px;
	margin: 20px 0 20px 15px;
}

.ftr .ftr-msg__ttl {
	margin-bottom: 10px;
	font-size: 20px;
}

.ftr .ftr-msg__txt {
	color: #8e8e93;
	font-size: 14px;
	line-height: 20px;
}

.ftr .ftr-logo__img {
	height: 30px;
	margin-bottom: 5px;
}

.hdr .algn-left,
.ftr .algn-left {
	float: left !important;
}

.hdr .algn-rght,
.ftr .algn-rght {
	float: right !important;
}

.hdr .clr-grn-fg,
.ftr .clr-grn-fg {
	color: #5eb8ae !important;
}

.hdr .clr-red-fg,
.ftr .clr-red-fg {
	color: #cc0000 !important;
}

.hdr .clr-grn-bg,
.ftr .clr-grn-bg {
	background-color: #5eb8ae !important;
}

.hdr .clr-red-bg,
.ftr .clr-red-bg {
	background-color: #cc0000 !important;
}

.hdr .clr-blue-bg,
.ftr .clr-blue-bg {
	background-color: #3d6a8c !important;
}

.hdr .algn-abslt-cntr,
.ftr .algn-abslt-cntr {
	position: absolute !important;
	margin: auto !important;
	top: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	left: 0 !important;
}

.hdr .hvr-red,
.ftr .hvr-red {
	color: inherit;
	cursor: pointer;
}

.hdr .hvr-red:hover,
.ftr .hvr-red:hover {
	color: #cc0000 !important;
}

.hdr .text-link,
.ftr .text-link {
	color: #4e92e3;
	cursor: pointer;
}

.hdr .text-link:hover,
.ftr .text-link:hover {
	text-decoration: underline;
}

.hdr .clearfix,
.ftr .clearfix {
	zoom: 1;
}

.hdr .clearfix:before,
.ftr .clearfix:before,
.hdr .clearfix:after,
.ftr .clearfix:after {
	display: block;
	visibility: hidden;
	overflow: hidden;
	width: 0;
	height: 0;
	content: '\0020';
}

.hdr .clearfix:after,
.ftr .clearfix:after {
	clear: both;
}

/*# sourceMappingURL=msp.css.map */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {

.hdr .sctn__prvs-icon,
.ftr .sctn__prvs-icon {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-left-black@2x.png);
}

.hdr .sctn__next-icon,
.ftr .sctn__next-icon {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-right-black@2x.png);
}

.hdr .rtng-star,
.ftr .rtng-star {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/star-grey@2x.png);
}

.hdr .rtng-star__inr,
.ftr .rtng-star__inr {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/star-gold@2x.png);
}

.hdr .sort,
.ftr .sort {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-grey-small@2x.png);
}

.hdr .sort:before,
.ftr .sort:before {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-black-small@2x.png);
}

.hdr .sort:hover,
.ftr .sort:hover {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-black-small@2x.png);
}

.hdr .to-top__btn,
.ftr .to-top__btn {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-up-grey@2x.png);
}

.hdr .drpdwn-menu__icon-rght {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-right-grey-small@2x.png);
}

.hdr .drpdwn-menu__ctgry:hover .drpdwn-menu__icon-rght,
.hdr .drpdwn-menu__ctgry:active .drpdwn-menu__icon-rght {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-right-black-small@2x.png);
}

.hdr .drpdwn-menu__ctgry:before {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-right-black-small@2x.png);
}

.hdr .srch-wdgt__sbmt {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/search-red@2x.png);
}

.hdr .srch-wdgt__sbmt:before {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/search-white@2x.png);
}

.hdr .srch-wdgt__sbmt:hover {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/search-white@2x.png);
}

.hdr .rslt-ctgry__next-icon {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-right-black@2x.png);
}

.hdr .menu-ctgry__hmbrgr-icon {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/category-icon-red@2x.png);
}

.hdr .menu-ctgry__down-icon {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-grey-small@2x.png);
}

.hdr .menu-ctgry__down-icon:before {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-black-small@2x.png);
}

.hdr .menu-ctgry:hover .menu-ctgry__down-icon {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-black-small@2x.png);
}

.hdr .drpdwn-wdgt__down-icon,
.ftr .drpdwn-wdgt__down-icon {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-grey-small@2x.png);
}

.hdr .drpdwn-wdgt:hover .drpdwn-wdgt__down-icon,
.ftr .drpdwn-wdgt:hover .drpdwn-wdgt__down-icon {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-black-small@2x.png);
}

.hdr .drpdwn-wdgt:hover:before,
.ftr .drpdwn-wdgt:hover:before {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-down-black-small@2x.png);
}

.hdr .user-link__icon-rcnt-view,
.ftr .user-link__icon-rcnt-view {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/eye-grey@2x.png);
}

.hdr .user-link__rcnt-view:hover .user-link__icon-rcnt-view,
.ftr .user-link__rcnt-view:hover .user-link__icon-rcnt-view {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/eye-red@2x.png);
}

.hdr .user-link__rcnt-view:before,
.ftr .user-link__rcnt-view:before {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/eye-red@2x.png);
}

.hdr .user-link__icon-svd-prdcts,
.ftr .user-link__icon-svd-prdcts {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/heart-grey@2x.png);
}

.hdr .user-link__svd-prdcts:hover .user-link__icon-svd-prdcts,
.ftr .user-link__svd-prdcts:hover .user-link__icon-svd-prdcts {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/heart-red@2x.png);
}

.hdr .user-link__svd-prdcts:before,
.ftr .user-link__svd-prdcts:before {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/heart-red@2x.png);
}

.hdr .user-link__icon-rvws,
.ftr .user-link__icon-rvws {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/reviews-grey-small@2x.png);
}

.hdr .user-link__rvws:hover .user-link__icon-rvws,
.ftr .user-link__rvws:hover .user-link__icon-rvws {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/reviews-red-small@2x.png);
}

.hdr .user-link__rvws:before,
.ftr .user-link__rvws:before {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/reviews-red-small@2x.png);
}

.hdr .user-link__icon-rwrds,
.ftr .user-link__icon-rwrds {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/coins-grey-small@2x.png);
}

.hdr .user-link__rwrds:hover .user-link__icon-rwrds,
.ftr .user-link__rwrds:hover .user-link__icon-rwrds {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/coins-red-small@2x.png);
}

.hdr .user-link__rwrds:before,
.ftr .user-link__rwrds:before {
	background-image: url(http://doypaxk1e2349.cloudfront.net/icons/coins-red-small@2x.png);
}

}

@-webkit-keyframes animation-rotate {

100% {
	-webkit-transform: rotate(360deg);
}

}

@-moz-keyframes animation-rotate {

100% {
	-moz-transform: rotate(360deg);
}

}

@-o-keyframes animation-rotate {

100% {
	-o-transform: rotate(360deg);
}

}

@keyframes animation-rotate {

100% {
	transform: rotate(360deg);
}

}

