.prdct-dtl {
  position: relative;
  &__left {
    float: left;
    width: 430px;
    height: 100%;
    &:hover {
      .prdct-dtl__save {
        display: block;
      }
    }
  }
  &__save {
    position: absolute;
    z-index: 100;
    top: 15px;
    left: 395px;
    display: none;
    width: 30px;
    height: 30px;
    .image-2x('http://doypaxk1e2349.cloudfront.net/icons/heart-circle-grey.png', 28px, 28px);
    background-position: center;
    cursor: pointer;
    &:hover {
      .image-2x('http://doypaxk1e2349.cloudfront.net/icons/heart-circle-dark-grey.png', 28px, 28px);
    }
    &--svd {
      display: block;
      .image-2x('http://doypaxk1e2349.cloudfront.net/icons/heart-circle-dark-red.png', 28px, 28px);
      cursor: default;
      &:hover {
        .image-2x('http://doypaxk1e2349.cloudfront.net/icons/heart-circle-dark-red.png', 28px, 28px);
      }
    }
  }
  &__best-slr {
    position: absolute;
    top: 22px;
    left: 15px;

    padding-left: 30px;
    .image-2x('http://doypaxk1e2349.cloudfront.net/icons/crown-orange.png', 24px, 14px);
    background-position: left center;

    color: @fg-color-grey;

    text-transform: uppercase;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    &-wrpr {
      height: 410px;
      padding: 0 15px 0 15px;
      margin:50px 0 150px 0;
      line-height: 420px;

      text-align: center;
      cursor: url('http://doypaxk1e2349.cloudfront.net/icons/zoom-in-grey.png'), pointer;
    }
    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) {
        &-wrpr {
          cursor: url('http://doypaxk1e2349.cloudfront.net/icons/zoom-in-grey@2x.png'), pointer;
        }
    }
  }
  &__thmbnl {
    display: inline-block;

    width: 46px;
    height: 46px;
    margin-left: @inline-block-margin;
    padding: 5px;
    border: 1px solid @border-color;
    
    line-height: 40px;

    cursor: pointer;
    vertical-align: middle;
    &-wrpr {
      position: absolute;
      bottom: 0;

      width: 430px;
      height: 150px;

      line-height: 170px;

      text-align: center;
    }
    &-img {
      opacity: .5;

      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
    &--slctd {
      .prdct-dtl__thmbnl-img {
        opacity: 1;
      }
    }
    & + & {
      border-left: 0;
    }
  }
  &__rght {
    position: relative;

    float: right;

    width: 720px;
    min-height: 505px;
    padding: 20px 20px 85px 20px;
    border-left: 1px solid @border-color;
  }
  &__ttl {
    border-bottom: 0;

    color: @fg-color;
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid @border-color;
  }
  &__tlbr {
    position: relative;

    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid @border-color;

    color: @fg-color-light-blue;
    font-size: 14px;
    line-height: 18px;
    &-rtng {
      float: left;
    }
    &-actn {
      float: right;
    }
    &-item {
      float: left;

      padding-right: 10px;
      &--prc-alrt {
        padding-left: 32px;
        .image-2x('http://doypaxk1e2349.cloudfront.net/icons/bell-blue.png', 14px, 16px);
        background-position: 12px center;
      }
      &--cmpr {
        padding: 0 0 0 35px;
        .image-2x('http://doypaxk1e2349.cloudfront.net/icons/compare-blue.png', 16px, 17px);
        background-position: 12px center;
      }
    }
    &-item + &-item {
      border-left: 1px solid @border-color;
    }
    &-rvws {
      padding-left: 10px;
    }
  }
  &__ggl-shr {
    float: right;
  }
  &__vrnt {
    margin-bottom: 15px;
    &-item {
      padding-right: 10px;
      float: left;
      & + & {
        border-left:1px solid @border-color;
        padding-left: 25px;
      
       &--apld:hover {
        .prdct-dtl__vrnt-cler {
          margin-top:2px;
          display:block;
        }
      }
      }
      .avlbl-sizes, .avlbl-clrs {
        margin-top: 6px;
      } 
    }
    &-clr {
      width:100px;
    }
    &-ttl {
      color: @fg-color-grey;
      line-height: 1.4;

      text-transform: uppercase;
      float:left;
    }
    &-cler {
      display:none;
      cursor:pointer;
      text-transform: capitalize;
      color: @fg-color-light-grey;
      float:right;
    }
    
  }
  &__no-stck {
    &-bdg {
      color: @fg-color-grey;
      font-size:18px;
      vertical-align: middle;
      background-position: left center;
      .image-2x('http://doypaxk1e2349.cloudfront.net/icons/exclamation-circle-grey-large.png', 18px,18px);
      padding-left:26px;
    }
    &-form {
      margin-top: 35px;
    }
    &-desc {
      font-size:16px;
      margin-bottom: 20px;
    }
    &-inpt {
      font-size:14px;
      padding: 15px 10px;
      border-radius: 3px 0 0 3px;
      border-right-width: 0;
      width: 250px;
      height: 14px;
      vertical-align: middle;
    }
    &-err {
      margin-bottom: 10px;
    }
    &-scs {
      display: none;
      margin-top: 20px;
      font-size: 16px;
      color: @fg-color;
    }
    &-sbmt {
      border-radius: 0 3px 3px 0;
      padding: 16px 20px;
      height: 14px;
      line-height: 14px;
      font-size: 14px;
      margin-left: @inline-block-margin;
      vertical-align: middle;
      display: inline-block;
    }
  }
  &__slr {
    margin-bottom: 15px;
    &-prc {
      float: left;

      width: 240px;
      padding-right: 30px;
      &-mrp {
        color: @fg-color-light-grey;
        &-prc {
          text-decoration: line-through;
        }
        &-dscnt {
          color: @fg-color-red;
          font-weight: @font-bold;
        }
      }
      &-rcmnd {
        &-inr {
          line-height: 40px;
        }
        // line-height: 34px;
        &-rpe {
          color: @fg-color-blue;
          font-size: 24px;
          line-height: 36px;
          vertical-align: top;
        }
        &-val {
          color: @fg-color-blue;
          font-size: 34px;
          font-weight: @font-bold;
          vertical-align: middle;
        }
        &-text {
          color: @fg-color-light-grey;
          line-height: 1.4;
        }
      }
      &-btn, &-tbl-btn {
        margin-top: 10px;
      }
    }
    &-ftrs {
      position: relative;

      float: left;

      min-height: 213px;
      &-lylty {
        &-wrpr {
          height: 35px;
        }
        padding-left: 30px;
        height:35px;
        .image-2x('http://doypaxk1e2349.cloudfront.net/icons/coins-gold.png', 23px, 19px);
        background-position: left center;

        color: @fg-color-yellow;
        line-height: 1.4;
        &--hide {
          visibility: hidden;
        }
        &-ttl {
          font-size: 14px;
          font-weight: @font-bold;

          text-transform: uppercase;
        }
        &-text {
          font-size: 10px;
        }
      }
      &-item-wrpr {
        & + & {
          margin-top: 40px;
        }
      }
      &-item {
        float: left;

        padding-left: 30px;
        &-ttl {
          color: @fg-color-grey;
          font-size: 10px;

          text-transform: uppercase;
        }
        &-text {
          color: @fg-color-blue;
          font-size: 18px;
          line-height: 1.4;
        }
        & + & {
          margin-left: 40px;
        }
      }
      &-dlvry {
        padding-left: 40px;
        .image-2x('http://doypaxk1e2349.cloudfront.net/icons/truck-grey.png', 30px, 15px);
        background-position: left center;
      }
      &-rtrn {
        .image-2x('http://doypaxk1e2349.cloudfront.net/icons/return-grey.png', 18px, 20px);
        background-position: left center;
      }
      &-wrnty {
        .image-2x('http://doypaxk1e2349.cloudfront.net/icons/warranty-grey.png', 21px, 20px);
        background-position: left center;
      }
      &-avlblty {
        float: left;
        line-height: 1.4;
        padding-left: 20px;
        .image-2x('http://doypaxk1e2349.cloudfront.net/icons/tick-circle-green.png', 15px, 15px);
        background-position: left center;

        color: @fg-color-blue;
        font-size: 14px;

        text-transform: uppercase;
        &--NA {
          .image-2x('http://doypaxk1e2349.cloudfront.net/icons/cross-circle-grey.png', 14px, 14px);
          background-position: left center;

          color: @fg-color-light-grey;
        }
        & + & {
          margin-left: 12px;
          padding-left: 32px;
          border-left: 1px solid @border-color;
          background-position: 12px center;
        }
      }
      &:before, &:after {
        position: absolute;
        top: 100px;
        left: 0;

        border: 10px solid transparent;
        border-right-width: 0;
        border-left-color: @border-color;

        content: '';
      }
      &:after {
        left: -2px;

        border-left-color: @bg-color-white;
      }
    }
    &-prc + &-ftrs {
      padding-left: 30px;
      border-left: 1px solid @border-color;
    }
    &--no-stck {
      .prdct-dtl__slr-ftrs:before, .prdct-dtl__slr-ftrs:after {
        top:60px;
      }
      .btn-GTS {
        margin-top:30px;
      }
      .prdct-dtl__slr-ftrs {
        min-height:170px;
      }
    }
  }
  &__spfctn {
    margin: 4px 0 0 16px;
    padding-top: 5px;

    line-height: 1.4;

    list-style: disc outside none;
    &-wrpr {
      
      color: @fg-color-grey;
    }
    &-more-wrpr {
      margin-top:0;
      max-height:0;
      overflow: hidden;
      color: @fg-color-grey;
      transition: max-height 0.4s ease-in-out;
      &--show {
        max-height:300px;
      }
    }
  }
  &__msg {
    position: absolute;
    bottom: 0;

    margin-top: 15px;
    padding: 15px 0;
    border-top: 1px solid @border-color;
  }
}
.prc-grph {
  .sctn__hdr {
    padding: 0;
  }
  .sctn__ttl, &__prc-alrt {
    padding: 15px 20px;
  }
  &__prc-alrt {
    float: right;
    font-size:14px;
    padding-left: 45px;
    border-left: 1px solid @border-color;
    .image-2x('http://doypaxk1e2349.cloudfront.net/icons/bell-red.png', 18px, 21px);
    background-position: 15px center;

    cursor: pointer;
  }
  &__left {
    float: left;

    width: 200px;
    height: 330px;
    padding: 20px;
    border-right: 1px solid @border-color;
    background-color: @bg-color-gs4;
    &-ttl {
      font-size: 14px;

      text-transform: uppercase;
    }
  }
  &__prc-chng {
    margin-top: 30px;
    &-val {
      color: @fg-color-green;
      font-size: 20px;
      line-height: 1.4;
    }
    &-drtn {
      color: @fg-color-grey;
      font-weight: @font-bold;
      line-height: 1.4;

      text-transform: uppercase;
    }
    &-prd {
      color: @fg-color;
    }
    &--ngtv {
      .prc-grph__prc-chng-val {
        color: @fg-color-red;
      }
    }
  }
  &__btn {
    &-ttl {
      font-size:14px;
      margin-right:15px;
      text-transform: uppercase;
    }
    &-wrpr {
      border-top:1px solid @border-color;
      margin-top:10px;
      padding:14px 20px 14px 0;
      text-align: right;
      display:none;
    }
    & + & {
      margin-left:10px;
    }
  }
  &__not-sprtd {
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    display: none;
    position: absolute;
    height: 20px;
    text-align: center;
    font-size: 14px;
  }
  &__rght {
    position:relative;
    float:left;
    width:686px;
    height:370px;
    &-chrt {
      display: none;
      margin-top:25px;
      height:270px;
      width:660px;
    }
  }
}
.prdct-dscrptn {
  &__img-wrpr {
    display: inline-block;

    width: 240px;

    text-align: center;
    vertical-align: middle;
  }
  &__img {
    max-width: 100%;
  }
  &__item {
    padding: 20px;
  }
  &__item + &__item {
    border-top: 1px solid @border-color;
  }
  &__item-dscrptn {
    display: inline-block;

    width: 630px - 2*@border-width;
    margin-left: @inline-block-margin;
    padding-left: 20px;

    font-size: 14px;
    line-height: 24px;

    vertical-align: middle;
  }
  &__item-ttl {
    margin-bottom: 5px;

    font-weight: @font-bold;

    text-transform: uppercase;
  }
  &__item-text {
    color: @fg-color-grey;
  }
}

.rvws {
  &-msp {
    margin-bottom: 10px;
    padding: 10px 0 20px;
    border-bottom: 1px solid @border-color;
    &__vd {
      display: inline-block;

      width: 443px;
      height: 250px;
    }
    &__dtls {
      display: inline-block;

      width: 420px;
      margin-left: @inline-block-margin;
      padding-left: 25px;

      vertical-align: top;
      &-ttl {
        margin-bottom: 15px;

        font-size: 16px;
        font-weight: @font-bold;
      }
    }
    &__rtng {
      &-ttl {
        margin-bottom: 15px;

        color: @fg-color-grey;
        font-size: 14px;
        font-weight: @font-bold;
      }
    }
    &__dscrptn {
      margin-top: 23px;
      &-ttl {
        font-size: 12px;
        font-weight: @font-bold;

        text-transform: uppercase;
      }
      &-text {
        overflow: hidden;

        max-height: 100px;
        margin-top: 10px;

        color: @fg-color-grey;
        font-size: 14px;
        line-height: 20px;

        .line-clamp(5);
      }
      &-read-more {
        display: block;

        margin-top: 15px;

        font-size: 12px;
        font-weight: @font-bold;

        text-transform: uppercase;
      }
    }
  }
  &-usr {
    &__ttl {
      margin-bottom: 10px;

      color: @fg-color-red;
      font-size: 14px;
      font-weight: @font-bold;
    }
    &__item {
      width: 890px - 2*@border-width;
      padding: 10px 0;
      & + & {
        border-top: 1px solid @border-color;
      }
      &-img-wrpr {
        display: inline-block;

        width: 40px;
        height: 40px;

        line-height: 40px;

        text-align: center;
        vertical-align: top;
      }
      &-img {
        max-width: 100%;
        max-height: 100%;

        vertical-align: middle;
      }
      &-date {
        color: @fg-color-grey;
      }
    }
    &__dtls {
      &-inr {
        display: inline-block;

        margin: 0 0 0 10px;

        vertical-align: top;
        .tag {
          margin-left: 5px;
        }
      }
    }
    &__item {
      &-usr-name {
        margin-bottom: 10px;

        font-size: 14px;
        font-weight: bold;

        text-transform: uppercase;
      }
      &-dscrptn {
        font-size: 14px;
        line-height: 20px;

        vertical-align: middle;
      }
      &-ttl {
        margin-top: 10px;

        font-size: 12px;
        font-weight: @font-bold;

        text-transform: uppercase;
      }
      &-text {
        margin-top: 5px;

        color: @fg-color-grey;
        font-size: 14px;
      }
      &-read-more {
        display: block;

        margin-top: 5px;

        font-size: 12px;
        font-weight: @font-bold;

        text-transform: uppercase;
      }
    }
  }
}

.usr-wrt-rvw {
  .sctn-inr {
    padding: 20px;
  }
  .js-vldtn-err {
    margin-bottom: 10px;
  }
  .usr-rvw-form {
    &__rtng {
      &-wrpr {
        float: left;

        width: 444px;
      }
      &-lbl {
        display: inline-block;

        font-size: 14px;
        font-weight: @font-bold;

        vertical-align: bottom;
      }
      &-rmrk {
        display: inline-block;
        color: @fg-color-blue;
        font-size: 16px;
        line-height: 18px;
        font-weight: @font-bold;
        vertical-align: bottom;
      }
    }
    .rtng-wrpr {
      display: inline-block;

      margin-left: 10px;
      line-height: 18px;
      vertical-align: bottom;
    }
    &__ttl-wrpr, &__desc-wrpr {
      margin-top:20px;
    }
    &__ttl, &__desc {
      display: block;

      width: 865px;
      padding: 10px;
      
      font-size: 12px;
    }
    &__desc {
      height: 50px;
    }
    &__dtls {
      display: none;
      margin-top: 20px;
      padding: 7px;
      border: 1px solid @border-color;
      border-radius: @border-radius;
      &-img-wrpr, &-desc {
        display: inline-block;
        vertical-align: middle;
      }
      &-desc {
        margin-left: 4px;
      }
      &-img-wrpr {
        height: 35px;

        line-height: 35px;

        text-align: center;
      }
      &-img {
        max-width: 100%;
        max-height: 100%;

        vertical-align: middle;
      }
      &-name {
        color: black;
        font-size: 14px;
        font-weight: @font-bold;
      }
      &-email {
        margin-top: 5px;

        color: @fg-color-grey;
        font-size: 14px;
      }
    }
    &__submit {
      margin-top: 20px;
    }
  }
  &__scs {
    display: none;
    height: 230px;
    padding: 60px 0 0;
    text-align: center;
    &-ttl {
      font-size: 24px;
      color: #3d6a8c;
    }
    &-desc {
      margin-top: 10px;
      font-size: 14px;
      line-height: 25px;
    }
  }
}

.exprt-rvw {
  &__vid {
      margin:20px;
      position: relative;
      overflow:hidden;
      width:888px;
      height:499px;
      overflow: hidden;
      background-color:@bg-color-gs0;
    &-iframe {
      z-index:100;
      position:relative;
    }
    &-img {
      position: absolute;
      top: -100%;
      right: -100%;
      bottom: -100%;
      left: -100%;
      width: 100%;
      margin: auto;
      opacity:0.6;
    }
    &-play {
      cursor:pointer;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin:auto;
    }
  }
  &__inr {
    border-top:1px solid @border-color;
    padding:30px 20px;
  }
  &__img{
    width:46px;
    height:46px;
    border-radius: @border-radius;
    float:left;
  }
  &__ttl {
    margin-left:10px;
    float:left;
    width:830px;
    font-size:14px;
    font-weight:@font-bold;
    .ellipsis();
  }
  &__usr {
    margin-left:10px;
    float:left;
    width:830px;
    margin-top:12px;
    color:@fg-color-grey;
  }
  &__info {
    line-height:1.4;
    &-dtls {
      display: inline-block;
      margin: 0 0 0 10px;
      vertical-align: top;
    }
  }
  &__col {
    margin:25px 80px 0 0;
    vertical-align: top;
    display:inline-block;
    width:270px;
    & + & {
       margin-left:@inline-block-margin;
    }
  }
  .rvw-scr {
    float:none;
    margin-left:@inline-block-margin;
    display: inline-block;
    vertical-align: bottom;
  }
  &__item {
    margin-top: 16px;
    line-height: 1.4;
    list-style: disc inside none;
    &-ttl {
      line-height: 20px;
      padding-left:30px;
      font-weight:@font-bold;
      &-pros {
        color:@fg-color-light-green;
        .image-2x('http://doypaxk1e2349.cloudfront.net/icons/thumb-up-green-small.png', 20px, 18px);
        background-position: left center;
      }
      &-cons {
        color:@fg-color-red;
        .image-2x('http://doypaxk1e2349.cloudfront.net/icons/thumb-down-red-small.png', 20px, 18px);
        background-position: left center;
      }
    }
  }
}
.tchncl-spcftn {
  .sctn__hdr {
    border-bottom: none;
  }
  &__ctgry {
    padding: 10px 20px;
    background-color: @bg-color-gs1;

    color: @fg-color-white;
    font-size: 14px;

    text-transform: uppercase;
  }
  &__item {
    display: table-row;

    font-size: 14px;
    line-height: 24px;
  }
  &__item + &__item &__item-key {
    border-top: 1px solid @border-color;
  }
  &__item + &__item &__item-val {
    border-top: 1px solid @border-color;
  }
  &__item-key {
    display: table-cell;

    width: 220px;
    padding: 10px 10px 10px 20px;
    background-color: @bg-color-gs4;

    vertical-align: middle;
  }
  &__item-val {
    display: table-cell;

    width: 660px - 2*@border-width;
    padding: 10px;

    color: @fg-color;

    vertical-align: middle;
  }
}

.usr-rvw {
  .sctn__hdr {
    padding: 0;
  }
  .sctn__ttl, &__wrt-rvw {
    padding: 15px 20px;
  }
  &__wrt-rvw {
    float: right;
    font-size:14px;
    padding-left: 50px;
    border-left: 1px solid @border-color;
    .image-2x('http://doypaxk1e2349.cloudfront.net/icons/write-review-red.png', 20px, 18px);
    background-position: 20px center;

    cursor: pointer;
  }
  &__str {
    float:left;
    width:162px;
    text-align: center;
    &-wrpr {
      padding:10px 20px;
    }
    &-logo {
      display: block;
      margin:0 auto 10px auto;
      max-width:150px;
      height:50px;
    }
    & + & {
      margin-left:80px;
    }
    .rtng-wrpr {
      display: inline-block;
      vertical-align: middle;
    }
    .rtng-bdg {
      vertical-align: middle;
    }
  }
  &__str-cnt {
    display:block;
    margin-top:15px;
    &--no-str {
      color:@fg-color-grey;
    }
  }
  .rating {
    margin-top:15px;
  }
  &-item {
    border-top:1px solid @border-color;
    padding:20px 20px 10px 20px;
    line-height:1.4;
    margin-top:20px;
    &__left {
      width:200px;
      float:left;
      margin-right:50px;
    }
    &__img {
      width: 60px;
      border-radius: @border-radius;
      height:60px;
      float:left;
    }
    &__name {
        float:right;
        width:130px;
        max-height:34px;
        overflow:hidden;
    }
    &__date {
      float:right;
      width:130px;
      margin-top:5px;
      color:@fg-color-grey;
    }
    &__hlpfl {
      margin-top:30px;
      color:@fg-color-grey;

    }
    &__str {
      margin-top:30px;
      border-top:1px solid @border-color;
      &-ttl {
        color:@fg-color-light-grey;
        margin-top:-9px;
        padding-right: 8px;
        position: absolute;
        background-color:@bg-color-white;
      }
      &-logo {
        float:left;
        margin-top:15px;
        max-width: 150px;
        height: 50px;
      }
    }
    &__rght {
      width:630px;
      float:right;
    }
    &__ttl {
      font-weight: @font-bold;
      font-size: 14px;
      margin-bottom:15px;
    }
     .rtng-wrpr {
      display: inline-block;
      vertical-align: middle;
    }
    .rtng-bdg {
      vertical-align: middle;
    }
    &__text {
      margin-top:15px;
      line-height:20px;
      &-hide {
        display: none;
      }
    }
    &__ftr {
      color:@fg-color-grey;
      padding-top:30px;
      &-left {
        float:left;
      } 
      &-rght {
        display: none;
        float:right;
      } 
    }
    & + & {
      margin-top:0;
    }
    &:hover {
      .usr-rvw-item__ftr-rght {
        display: block;
      }
    }
  }  
}