.prc-tbl {
  &-wrpr {
    .sctn__hdr {
      padding: 10px 20px;
    }
  }
  &-inr {
    position: relative;
  }
  &__ttl {
    float: left;

    padding: 5px 0;
    font-size:14px;
    color: @fg-color;
    font-weight: @font-bold;
    font-size: 16px;
    text-transform: none;
  }
  &__ctgry {
    float: left;

    padding: 13px 10px;
    &-item {
      float: left;

      padding: 5px 5px 5px 20px;
      background: url('http://doypaxk1e2349.cloudfront.net/icons/unchecked-radio-grey.png') no-repeat left;
      transition: background 0.2s ease-in-out;
      color: @fg-color-grey;
      cursor: pointer;
      & + & {
        margin-left: 10px;
      }
      &:hover {
        background-image: url('../../icons/radio-blue-hover.png');

        color: @fg-color-blue;
      }
      &.prc-tbl__ctgry-item--slctd {
        background-image: url('http://doypaxk1e2349.cloudfront.net/icons/checked-radio-blue.png');

        color: @fg-color-blue;
      }
    }
  }
  &__lctn {
    float: right;

    margin-right: 10px;
    padding: 8px 0;
    &-frm {
      float: left;

      border: 1px solid @border-color;
      border-radius: @border-radius;
    }
    &-inpt {
      display: inline-block;

      width: 250px;
      height: 20px;
      margin-left: @inline-block-margin;
      padding: 5px 0;
      border: 0;
      &-btn {
        margin: 10px;

        cursor: pointer;
        vertical-align: middle;
      }
    }
    &-gps {
      float: left;

      width: 33px;
      height: 33px;
      margin-left: 10px;
      border-radius: @border-radius;
      background: @bg-color-blue url('../../img/pricetable-icon-gps.png') no-repeat center/20px auto;
      cursor: pointer;
    }
  }
  &__fltrs {
    float: right;

    padding: 16px 11px;
    border-left: 1px solid @border-color;
    &-ttl {
      float: left;

      margin-right: 5px;
      padding: 2px 0;

      color: @fg-color-grey;
      font-weight: @font-bold;
    }
    &-item {
      float: left;

      margin: 0 5px;
      padding: 2px 0 0 20px;
      background: url('http://doypaxk1e2349.cloudfront.net/icons/unchecked-checkbox-grey.png') no-repeat left;

      cursor: pointer;
      transition: background 0.2s ease-in-out;
      &:hover {
        background-image: url('../../icons/checkbox-blue-hover.png');

        color: @fg-color-blue;
      }
      &.prc-tbl__fltrs-item--slctd {
        background-image: url('http://doypaxk1e2349.cloudfront.net/icons/checked-checkbox-blue.png');

        color: @fg-color-blue;
      }
    }
  }
  &-hdr {
    padding: 35px 15px 15px;
    background: @bg-color-gs4;
    &__clm {
      position: relative;

      float: left;
    }
    &__clm &__cptn {
      position: absolute;
      top: -18px;

      color: @fg-color-grey;
      font-size: 12px;
    }
    &__clm &__cptn--hvr {
      display: none;
    }
    &__clm:hover &__cptn--hvr {
      display: block;
    }
    &__lbl {
      color: @fg-color-grey;
      font-size: 14px;
      font-weight: @font-bold;

      vertical-align: middle;
      &--lt {
        font-weight: 400;
      }
    }
    &__arw {
      display: inline-block;

      width: 13px;
      height: 13px;
      margin-left: 3px;

      vertical-align: middle;
      &--desc {
        background: url('../../img/pricetable-sort-desc.png') no-repeat center center/auto 13px;
      }
      &--asc {
        background: url('../../img/pricetable-sort-asc.png') no-repeat center center/auto 13px;
      }
    }
    &__strs {
      width: 170px;
    }
    &__slr-rtng {
      width: 175px;
    }
    &__dlvry {
      width: 233px;
      margin-left: 253px;
    }
    &__prc {
      width: 175px;
    }
  }
  &-row {
    position: relative;

    border-bottom: 1px solid @border-color;
    background: @bg-color-white;
    &__ofln-bdg {
      position: absolute;
      line-height: 30px;
      right: 0;
      height:30px;
      width:110px;
      overflow: hidden;
      color:@fg-color-blue;
      &-img {
        position: absolute;
        right:0;
        width:30px;
        height:30px;
        background: @bg-color-white url('../../icons/offline-badge.png') no-repeat top right / 30px auto;
        z-index:100
      }
      &-text {
          width:80px;
          left:80px;
          position: absolute;
          transition: left 0.4s ease-in-out;
          z-index:0;
      }
    }
    &__inr {
      padding: 20px 0;
    }
    &--ofln {
      .prc-tbl__dtls-dlvr {
        background-image: url('../../img/pricetable-delivery-colored.png');
      }
      .prc-tbl__cost-shpng {
        width: 100%;
        margin-top: 10px;

        text-align: center;
      }
      &:hover {
        .prc-tbl-row__ofln-bdg-text {
          left:0;
        }
      }
    }
  }
  &-clm {
    display: inline-block;

    vertical-align: middle;
    & + & {
      margin-left: @inline-block-margin;
    }
    &--str {
      width: 165px;
      padding: 20px 0;

      text-align: center;
    }
    &--slr {
      width: 165px;
      padding: 15px 15px 15px 20px;
    }
    &--avlblty {
      width: 190px;
      padding: 7px 20px;
    }
    &--dtls {
      width: 190px;
      padding: 7px 20px;
    }
    &--cost {
      width: 130px;
      padding: 10px 20px;

      cursor: pointer;
    }
    &--gts {
      padding: 10px;
    }
    &--no-stck {
      padding: 20px;
      width: 618px;
    }
  }
  &__str {
    &-logo {
      max-width: 135px;
      &-wrpr {
        text-align: center;
      }
    }
    &-lctn {
      display: inline-block;

      margin-top: 5px;
      padding: 5px 5px 5px 15px;
      background: url('../../icons/location-pin-red.png') no-repeat left center;

      
      text-align: center;
    }
  }
  &-clm--slr {
    .rtng-wrpr {
      display: inline-block;

      vertical-align: middle;
    }
    .rtng-bdg {
      vertical-align: middle;
    }
  }
  &__slr {
    &-name {
      margin-bottom: 10px;
    }
    &-prm {
      margin-top: 10px;
      &-logo {
        vertical-align: middle;
      }
    }
    .hlp-prmpt {
      margin-left: 5px;
    }
  }
  &__avlblty {
    padding: 8px 5px 8px 25px;
    background: url('../../img/pricetable-service-available.png') no-repeat center left;
    & + & {
      border-top: 1px solid @border-color-light-grey;
    }
    &--dsbld {
      background: url('../../img/pricetable-service-notavailable.png') no-repeat center left;

      color: @fg-color-light-grey;
    }
  }
  &__dtls {
    padding: 8px 0;
    & + & {
      border-top: 1px solid @border-color-light-grey;
    }
    &-dlvr {
      padding-left: 40px;
      background: url('../../img/pricetable-delivery-icon.png') no-repeat left center;
    }
    &-pckp {
      padding-left: 30px;
      background: url('../../img/pricetable-pickup-icon.png') no-repeat left center;
    }
    &-clr {
      &-dot {
        display: inline-block;

        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: black;
      }
      &-more {
        position: relative;
        display: inline-block;
      }
      &-pop {
        position: absolute;
        bottom: 23px;
        left: -15px;

        width: 325px;
        
        color: @fg-color-grey;
        &--show {
          visibility: visible;
          opacity: 1;
        }
        .prc-tbl__dtls-clr-dot {
          width: 15px;
          height: 15px;
          vertical-align: middle;
        }
        .prc-tbl__dtls-clr-lbl {
          display: inline-block;
          width:92px;
          margin-left: @inline-block-margin;
          padding: 0 10px;
          vertical-align: middle;
        }
        .prc-tbl__cost {
          display: inline-block;
          width: 80px;
          margin-left: @inline-block-margin;
          vertical-align: middle;
        }
        .btn-GTS--xs {
          margin-left: @inline-block-margin;
        }
        .prc-tbl__no-stck-bdg {
          display: inline-block;
          margin: @inline-block-margin;
          vertical-align: middle;
        }
        .prc-tbl__no-stck-lbl {
          margin-left: 2px;
        }
      }
    }
  }
  &-clm--cost:hover .prc-tbl__cpn-wrpr {
    top: -175px;

    visibility: visible;
    opacity: 1;
  }
  &__cost {
    &-val {
      color: @fg-color-blue;
      font-size: 32px;
      font-weight: @font-bold;
    }
    &-rpe {
      display: inline-block;

      color: @fg-color-blue;
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;

      vertical-align: top;
    }
    &--dsbld &-val, &--dsbld &-rpe {
      color: @fg-color-grey;
    }
    &-cpn {
      margin-top: 10px;
      padding: 6px 6px 6px 23px;
      border: 1px dashed @border-color;
      border-radius: @border-radius;
      background: @bg-color-gs4 url('../../img/pricetable-service-available.png') no-repeat 5px center;

      color: @fg-color-grey;
    }
    &--s {
      .prc-tbl__cost-rpe {
        font-size: 12px;
        line-height: 16px;
      }
      .prc-tbl__cost-val {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
  &__gts {
    &-lylty {
      padding: 10px 0 0 27px;
      background: url('../../img/pricetable-loyalty.png') no-repeat left center;

      color: @fg-color-yellow;
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__no-stck {
    &-icon {
      width: 15px;
      height: 15px;
      vertical-align: middle;
    }
    &-lbl {
      display: inline-block;
      margin-left: 5px + @inline-block-margin;
      color: @fg-color-grey;
      line-height: 15px;
      vertical-align: middle;
    }
    &-desc, &-form {
      margin-top: 15px;
    }
    &-inpt {
      padding: 6px;
      border-radius: 3px 0 0 3px;
      border-right-width: 0;
      width: 200px;
      height: 18px;
      vertical-align: middle;
    }
    &-sbmt {
      border-radius: 0 3px 3px 0;
      margin-left: @inline-block-margin;
      vertical-align: middle;
      display: inline-block;
    }
  }
  &__cpn {
    &-wrpr {
      position: absolute;
      top: -135px;
      right: 22px;

      visibility: hidden;
      opacity: 0;

      width: 375px;
      padding: 10px;
      border: 1px solid @border-color-dark-grey;
      border-radius: @border-radius;
      background: white;
      box-shadow: @box-shadow;

      transition: top .4s, opacity .4s, visibility .4s;
      transition-delay: .75s;
      text-align: center;
    }
    &-info {
      position: relative;

      display: inline-block;

      width: 100px;
      margin: 10px auto 0;
      padding: 10px 30px;
      border: 2px dashed @border-color;
      border-radius: @border-radius;
      background: @bg-color-gs4;

      color: @fg-color-blue;
      font-size: 18px;

      text-align: center;
    }
    &-code {
      cursor: text;
    }
    &-icon {
      position: absolute;
      bottom: -8px;
      left: 18px;
    }
    &-desc {
      margin-top: 10px;

      color: @fg-color-grey;
    }
  }
  &__prc-brkp {
    position: relative;

    margin-top: 25px;
    padding: 25px 0 10px;
    border-top: 1px solid @border-color-dark-grey;
    &-ttl {
      position: absolute;
      top: -13px;
      left: 0;

      padding: 5px 10px 5px 0;
      background: @bg-color-white;

      color: @fg-color-grey;
      font-size: 14px;
      font-weight: 600;
    }
    &-item {
      display: inline-block;

      margin: 0 8px;

      vertical-align: top;
      &--green {
        .prc-tbl__prc-brkp-rpe, .prc-tbl__prc-brkp-val {
          color: @fg-color-light-green;
        }
      }
      &--blue {
        .prc-tbl__prc-brkp-rpe, .prc-tbl__prc-brkp-val {
          color: @fg-color-blue;
        }
      }
    }
    &-rpe {
      color: @fg-color-grey;
      font-size: 12px;
      line-height: 14px;

      vertical-align: top;
    }
    &-val {
      color: @fg-color-grey;
      font-size: 16px;
      font-weight: 600;

      vertical-align: top;
    }
    &-desc {
      margin-top: 5px;

      color: #bbb;
    }
    &-sprtr {
      display: inline-block;

      margin-top: 0;

      color: #8e8e93;
      font-size: 16px;
      font-weight: 600;

      vertical-align: top;
    }
  }
  &__xtrs {
    width: 100%;

    color: @fg-color-grey;
    &-clm {
      width: 566px;
      padding: 7px 5px 7px 28px;
      &-text {
        display: inline-block;
        overflow: hidden;

        max-width: 500px;

        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &-more {
        position: relative;
        display: inline-block;
        vertical-align: middle; 
      }
      &-pop {
        position: absolute;
        bottom: 26px;
        left: -15px;

        width: 325px;
        color: @fg-color-grey;
      }
    }
    &-ofrs {
      position: relative;

      float: left;

      background: @bg-color-light-yellow url('../../img/pricetable-offers-percentage.png') no-repeat 7px center/15px auto;
    }
    &-cpns {
      float: right;

      background: @bg-color-lightest-blue url('../../img/pricetable-coupon-scissors.png') no-repeat 6px center/15px auto;
    }
  }
  &__prc-drop-btn {
    display: inline-block;

    margin-top: 5px;
    padding: 7px 7px 7px 25px;
    border: 1px solid @border-color;
    border-radius: @border-radius;
    background: url('../../img/pricetable-pricedrop-icon.png') no-repeat 6px center;

    color: @fg-color-grey;
  }
}


// preloading icons in on-hover user-action-classes.
.body:after {
  display: none;

  background: url('http://doypaxk1e2349.cloudfront.net/icons/checked-checkbox-blue.png');
}
