.list-info {
  margin-top: 20px;

  color: @fg-color-grey;
  line-height: 1.4;
  &__dscrptn {
    margin-top: 10px;

    font-size: 14px;
  }
  &__link-wrpr {
    margin-top: 10px;
  }
  &__link {
    position: relative;

    float: left;

    margin-right: 15px;
    padding-right: 15px;
    &:after {
      position: absolute;
      right: 0;

      color: @fg-color-grey;

      content: '|';
    }
  }
}

.list-main {
  float: left;
  &__ttl {
    margin: 20px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid @border-color;
  }
}

.list-mdl {
  float: right;

  width: 700px;
  .prdct-grid--s {
    position: relative;
    margin: 0;
  }
}

.list-hdr {
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid @border-color;
  &__prdct-cnt {
    float: left;

    font-size: 14px;
    line-height: 30px;
  }
  &__save {
    display:none;
    line-height: 1.4;
    margin: 6px;
    cursor:pointer;
    float:left;
  }
  &-srch {
    float: right;

    width: 188px;
    height: 28px;
    margin-left: 20px;
    padding-left: 10px;
    border: 1px solid @border-color;
    border-radius: @border-radius;
    background-color: @bg-color-white;

    line-height: 28px;
    &__fld {
      width: 164px;
      padding: 0;
      border: 0;
      background: none;

      font-size: 14px;
      line-height: 28px;

      vertical-align: middle;
    }
    &__btn {
      cursor: pointer;
      vertical-align: middle;
    }
  }
  &-view {
    float: right;

    margin-left: 20px;

    line-height: 30px;
    &__prdct-l, &__prdct-s {
      float: right;

      width: 16px;
      height: 30px;
      margin-left: 5px;

      cursor: pointer;
    }
    &__prdct-l {
      background: url('http://doypaxk1e2349.cloudfront.net/icons/large-grid-grey.png') no-repeat center / 16px 18px;;
      &--slctd {
        background: url('http://doypaxk1e2349.cloudfront.net/icons/large-grid-blue.png') no-repeat center /16px 18px;;
      }
    }
    &__prdct-s {
      background: url('http://doypaxk1e2349.cloudfront.net/icons/small-grid-grey.png') no-repeat center / 16px 18px;;
      &--slctd {
        background: url('http://doypaxk1e2349.cloudfront.net/icons/small-grid-blue.png') no-repeat center / 16px 18px;
      }
    }
  }
}
.fltr {
  & + & {
    margin-top: 20px;
  }
  &-wrpr1 {
    float:left;
    width:210px;
  }
  &__hdr {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid @border-color;

    text-transform: uppercase;
  }
  &__cler {
    display: none;
    float: right;

    color: @fg-color-red;

    cursor: pointer;
  }
  &-prc {
    &__sldr {
      margin: 25px 10px;
    }
    &-inpt-wrpr {
      margin: 15px 0;

      vertical-align: middle;
      text-transform: uppercase;
    }
    &__mnm-wrpr {
      float: left;

      width: 50%;
    }
    &__mxm-wrpr {
      float: right;

      width: 50%;

      text-align: right;
    }
    &__prc-ttl {
      margin-bottom: 5px;
    }
    &__prc-rpe {
      color: @fg-color-blue;
    }
    &__inpt {
      width: 65px;
      height: 18px;

      color: @fg-color-blue;
      //font-size: 14px;
    }
  }
  &-srch {
    margin-bottom: 10px;
    border: 1px solid @border-color;
    border-radius: @border-radius;
    background-color: @fg-color-white;
    &__fld {
      width: 160px;
      height: 24px;
      padding: 0 10px;
      border: 0;
      background: none;

         -moz-appearance: none;
          -ms-appearance: none;
           -o-appearance: none;
      -webkit-appearance: none;
              appearance: none;
    }
    &__icon {
      float: right;

      padding: 7px;
      border: 0;

      cursor: pointer;
      &--hide {
        display: none;
      }
    }
  }
  &-val {
    margin-bottom: 10px;
    padding-left: 20px;

    line-height: 18px;

    cursor: pointer;
    &--sngl {
      background: url('http://doypaxk1e2349.cloudfront.net/icons/unchecked-radio-grey.png') no-repeat left;
      //background: url('http://doypaxk1e2349.cloudfront.net/icons/unchecked-radio-grey.png') no-repeat left; 
    }
    &--mltpl {
      background: url('http://doypaxk1e2349.cloudfront.net/icons/unchecked-checkbox-grey.png') no-repeat left;
    }
    &--slctd {
      color: @fg-color-blue;
      //font-weight: bold;
      &.js-fltr-val--mltpl {
        background: url('http://doypaxk1e2349.cloudfront.net/icons/checked-checkbox-blue.png') no-repeat left;
      }
      &.js-fltr-val--sngl {
        background: url('http://doypaxk1e2349.cloudfront.net/icons/checked-radio-blue.png') no-repeat left;
      }
    }
    &__cnt {
      color: @fg-color-light-grey;
      font-weight: normal;
    }
  }
}

.js-fltr-ldng-icon {
    background: rgba(255,255,255,.9) url(http://b12984e4d8c82ca48867-a8f8a87b64e178f478099f5d1e26a20d.r85.cf1.rackcdn.com/fashion_loading.gif) no-repeat center 80px;
    text-align: center;
    padding-top: 155px;
    font-size: 18px;
    color: @fg-color-grey;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    box-sizing: border-box;
}

.js-fltrs-apld {
  display: inline;

  line-height: 24px;
  &--strk * {
    text-decoration: line-through;
  }
  &-wrpr1 {
    display: none;

    margin-bottom: 10px;
    border: 1px solid @border-color;
    border-radius: @border-radius;
    background-color: @bg-color-white;
  }
  &-wrpr {
    display: inline-block;

    width: 600px;
    padding: 7px 5px;
    border-right: 1px solid @border-color;
    border-right: 1px solid @border-color;

    vertical-align: middle;
    text-transform: uppercase;
  }
  &-cler {
    display: inline-block;

    width: 85px;
    margin-left: @inline-block-margin;

    color: @fg-color-red;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
  }
  &__lbl {
    display: inline;
     cursor:pointer;
    padding: 0 5px;

    font-weight: bold;
  }
  &__item {
    display: inline-block;
    cursor:pointer;
    margin-right: 5px;
    padding: 0 5px;
    border: 1px solid transparent;
    border-radius: @border-radius;

    color: @fg-color-grey;
    &:hover {
      border: 1px solid @border-color;

      text-decoration: line-through;
    }
    &-cler {
      margin-left: 5px;
    }
  }
}
/* UI Slider and Nano ScrollBar CSS */
.nano {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 28px * 8 ; //8 is for 8 items
  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: scroll;
    overflow-x: hidden;

    .appearance();
  }
  .content::-webkit-scrollbar {
    visibility: hidden;
  }
  &.has-scrollbar .content::-webkit-scrollbar {
    visibility: visible;
  }
}

.pane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 8px;
  margin: 0;
  background: lighten(@border-color,20%);
  //background: rgba(209,205,205,.1);

  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
  &:hover {
    width: 11px;
    .slider {
      background: darken(@border-color,10%);
    }
  }
  .slider {
    position: relative;

    margin: 0;
    background: @border-color;
  }
}

.ui-slider {
  position: relative;

  width: 184px;
  border-top: 1px solid @border-color;
  //border-top: 1px solid @bg-color-gs3;

  text-align: left;
  &:before, &:after {
    position: absolute;

    width: 8px;
    height: 8px;
    margin-top: -4px;
    border-radius: 50%;
    background-color: @border-color;
    //background-color: @bg-color-gs;

    content: '';
  }
  &:before {
    left: 0;
  }
  &:after {
    left: 100%;
  }
  .ui-slider-handle {
    position: absolute;
    z-index: 2;

    width: 8px;
    height: 8px;
    margin-top: -4px;
    border-radius: 100%;
    background-color: @bg-color-blue;

    cursor: pointer;
    &:before {
      position: absolute;
      z-index: 3;
      top: -4px;
      left: -4px;

      opacity: .4;

      width: 8px;
      height: 8px;
      border: 4px solid @bg-color-light-blue-slider;
      border-radius: 50%;

      content: ' ';
    }
  }
  .ui-slider-range {
    position: absolute;
    z-index: 1;

    display: block;

    border: 1px solid @bg-color-blue;
  }
  // .ui-slider-handle {
  //   top: -1px;
  // }
  .ui-slider-range {
    top: -1px;

    height: 100%;
  }
  .ui-slider-range-min {
    left: 0;
  }
  .ui-slider-range-max {
    right: 0;
  }
}
