.ftr {
  border-top: 1px solid @border-color;
  min-width: @container-width;
  &__clmn-wrpr1 { 
    background-color:@bg-color-white;
  }
  &__clmn-wrpr {
    width:@container-width;
    margin:20px auto;
  }
  //Column Title 
  &__clmn {
    float: left;

    width: 380px;

    line-height: 1.4;
  }
  &__clmn + &__clmn {
    margin-left: 30px;
  }
  &__clmn-ttl-wrpr {
    position: relative;
    margin-bottom: 10px;
    font-size:14px;
    &:before {
      border-bottom: 1px solid #dfe1e8;
      content: "";
      width: 100%;
      top: 50%;
      position:absolute;
    }
  }
  &__clmn-ttl {
    font-size:14px;
    background-color: #fff;
    position: relative;
    padding-right: 10px;
    z-index: 100;
  }
  &__clmn-link {
    margin-right:5px;
  }
  &__qck-link-clmn {
    float:left;
    width:175px;
  }
  &__qck-link-clmn + &__qck-link-clmn{
    margin-left:30px;
  }
  &__qck-link {
    display:block;
    line-height:18px;
    margin-bottom:10px;
    text-transform: uppercase;
    color:@fg-color-grey;
  }
  &__extr-info {
    width: @container-width;
    margin: 20px auto;
    color:@fg-color-grey;
  }
  &__cpyrght-wrpr {
    float: left;
  }
  
  &__made-in-india {
    float:right;
    margin:13px 0;
  }
  &__heart {
    color:@fg-color-red;
  }
  &__flag {
    vertical-align: middle;
    margin-left:2px;
  }
}

.ftr-msg {
  border:1px solid @border-color;
  border-radius:@border-radius;
  width:378;
  margin-bottom:20px;
  &__img-wrpr {
    float:left;
    margin:15px;
    height:75px;
    width:60px;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
  }
  &__txt-wrpr {
    margin:20px 0px 20px 15px;
    width:258px;
    height:75px;
    float:left;
  }
  &__ttl {
    font-size:20px;
    margin-bottom:10px;
  }
  &__txt {
    color:@fg-color-grey;
    font-size:14px;
    line-height:20px;
  }
}
.ftr-logo {
  &__img {
    height: 30px;
    margin-bottom: 5px;
  }
}
