.sctn__rcmndtn-qstn{
    display: block;
    padding: 17px;
    border-top: 1px solid #dfe1e8;
    background: #e9ebef;
    color: #8e8e93;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    text-align: center;
    text-transform: uppercase;
}

.sctn__rcmndtn-answr{
    padding: 20px;
    border: 1px solid #dfe1e8;
    border-radius: 3px;
    background-color: #ffffff;
    .fltr-prc__sldr{
        margin: 25px 80px;
    }
    .ui-slider{
        width: 1000px;
    }
    .fltr-prc__mnm-wrpr{
        width: auto;
        padding-left: 100px;
    }
    .fltr-prc__mxm-wrpr{
        width: auto;
        padding-right: 100px;
    }
}

    