
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

.expnd-hd{
  padding-top: 10px;
  font-weight: bold;
  cursor: pointer;
}
.faq__subhd{
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.expand_all{
  float: right;
  cursor: pointer;
  text-decoration: underline; 
}
.faq__sub-sctn{
  padding: 20px 0;
}
.faq__sub-sctn__hav-a-q{
  border-top: 1px solid #ccc;
}
.faq__hav-a-q{
  padding-right: 30px;
  font-weight: bold;
}
.expnd-cntnt{
  display: none;
}

.cntxt-link {
    font-size: 0;
}

.edtr-sctn .ask-an-exprt__icon, .ask-an-exprt__icon{
  outline: none;
  padding-bottom: 5px;
  vertical-align: middle;
}
/*.sctn {
    margin: 20px 0;
    border: 1px solid #dfe1e8;
    border-radius: 3px;
    background-color: #ffffff;
}*/
.sctn.js-sldr{
  padding: 0;
  margin: 10px 0;
}
.sctn-hd{
  margin-bottom: -10px;
  font-weight: bold;
  font-size: 16px;
}
.sctn-lnk{
  float: right;
  padding-right: 10px;
  text-decoration: underline;
}
.sctn-hd.sldr-hd{
  float: left;
}
.cntxt-link--s .cntxt-link__prvs-icon, .cntxt-link--s .cntxt-link__next-icon {
    height: 150px;
}
.js-sldr__dsbl-btn {
    opacity: .2 !important;
    cursor: auto;
}
.js-sldr__prvs, .js-sldr__next {
    display: none;
}
.cntxt-link__prvs-icon {
    float: left;
    opacity: .5;
    background: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-left-black.png) no-repeat center;
}
.cntxt-link__prvs-icon, .cntxt-link__next-icon {
    width: 35px;
    height: 128px;
    cursor: pointer;
}
.cntxt-link.cntxt-link--s .js-sldr-item-wrpr1 {
    padding: 5px 0;
}
.cntxt-link .js-sldr-item-wrpr1 {
    width: 810px;
    margin-left: 5px;
    padding: 4px 0;
}
.cntxt-link--s .cntxt-link-item-wrpr {
    padding: 4px;
}
.js-sldr-item-wrpr1 {
    overflow: hidden;
}
.cntxt-link-item-wrpr {
    float: left;
    width: 920px;
    padding: 4px;
}
.js-sldr-item-wrpr {
    position: relative;
    left: 0;
    overflow-x: visible;
    transition: transform 0.6s ease-out;
    white-space: nowrap;
}
.cntxt-link .js-sldr-item-wrpr1 .cntxt-link-item {
    margin-left: 8px;
}
.cntxt-link--s .cntxt-link-item {
    margin-left: 20px;
    width: 177px;
}
.cntxt-link-item {
    display: inline-block;
    width: 96px;
    margin: 8px 0 8px 17px;
    padding: 7px;
    border: 1px solid #eee;
    border-radius: 3px;
    white-space: normal;
    cursor: pointer;
}
.cntxt-link-item:hover{
  border: 1px solid #ccc;
}
.cntxt-link-item__img-wrpr {
  padding: 5px;
  display: inline-block;
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
}
.cntxt-link-item__img {
    max-width: 65px;
    max-height: 65px;
    vertical-align: middle;
}
.cntxt-link.cntxt-link--s .js-sldr-item-wrpr1 .cntxt-link-item__ttl-wrpr {
    /*width: 88px;*/
}
.cntxt-link--s .cntxt-link-item__ttl-wrpr {
    display: inline-block;
}
.cntxt-link-item__ttl-wrpr, .cntxt-link-item__cntnt-wrpr {
    width: 100%;
    font-size: 12px;
    line-height: 1.4;
    padding: 0 10px;
}
.cntxt-link-item__cntnt-wrpr {
    padding: 10px;
/*    float: left;*/
}
.cntxt-link--s .cntxt-link-item__ttl {
    vertical-align: middle;
}
.cntxt-link-item__ttl {
    display: inline-block;
    overflow: hidden;
    float: left;
    max-height: 32px;
    max-width: 124px;
}
.cntxt-link-item__scr {
    width: 20px;
    font-size: 15px;
    color: #fff;
    padding: 0px 8px;
    margin-right: 10px;
    float: right;
    text-align: center;
    background-color: rgb(78, 154, 6);
}
.cntxt-link-item__prc{
    font-weight: bold;
    padding-left: 5px;
}
.cntxt-link-item__det{
  margin-top: 5px;
}
.cntxt-link--s .cntxt-link__prvs-icon, .cntxt-link--s .cntxt-link__next-icon {
    height: 160px;
}
.js-sldr__prvs, .js-sldr__next {
    display: none;
}
.cntxt-link__next-icon {
    float: right;
    opacity: .5;
    background-position: center;
    background-image: url(http://doypaxk1e2349.cloudfront.net/icons/arrow-right-black.png);
    background-repeat: no-repeat;
    background-size: auto 18px;
}
.cntxt-link__prvs-icon, .cntxt-link__next-icon {
    width: 35px;
    height: 128px;
    cursor: pointer;
}

.prdct__dtls-clr-pop {
    position: absolute;
    width: 325px;
    color: #8e8e93;
    z-index: 1;
}

.msg-box {
    position: absolute;
    border-radius: 3px;
    background: #ffffff;
    box-shadow: -1px 1px 12px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    cursor: default;
}
.msg-box--show {
    visibility: visible;
    opacity: 1;
}
.msg-box__hdr {
    padding: 7px;
    border-radius: 3px 3px 0 0;
    background: #8e93a1;
    color: #ffffff;
    font-weight: 600;
}
.msg-box__cls {
    float: right;
    font-size: 18px;
    line-height: 12px;
    vertical-align: middle;
    cursor: pointer;
}
.msg-box__inr {
    padding: 0 5px;
    border: 1px solid #d0d3dd;
    border-top: 0;
    border-radius: 0 0 3px 3px;
}
.msg-box__row {
    padding: 10px 5px;
    line-height: 17px;
}
.msg-box__row .cntxt-link-item__ttl{
    max-width: 250px;
}
.msg-box__row .cntxt-link-item__scr{
    line-height: 25px;
}
.msg-box__cntnt{
    margin-top: 10px;
}
.cntxt-link-item__box-cntnt-wrpr{
  vertical-align: middle;
  display: inline-block;
  width: 90px;
}
.msg-bx__lft-inr{
    padding-left: 10px;
    float: left;
}
.msg-bx__lft-prc{
    padding-top: 10px;
    display: block;
}
.msg-bx__rght-inr{
    padding-right: 65px;
    float: right;
    font-size: 13px;
}
.msg-bx__rght__lnk{
    padding-top: 10px;
    padding-right: -65px;
    text-decoration: underline;
    float: right;
}
.msg-box__inr .go-to-prdct{
  float: right;
  margin-top: 10px;
}