.header-size.single-header {
    height: 78px;
}
body{
    font-family: arial;
    background: #F5F7F7;
}
.header-size.single-header .sub-header{
    display: block !important;
}
.cf:after{
    display: block;
    content:"";
    clear:both;
}
.wrapperwide{
    width: 1200px;
    margin: 0 auto 0 auto;
}
.pt_meta_topunit {
    display: block;
    width: 935px;
    font-size: 11px;
    padding: 2px;
    margin: 20px 0 0 0;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.pt_meta_topunit .alignleft {
    float: left;
}
.pt_meta_topunit .alignright {
    float: right;
}
.wrapperwide .subcat-top10-list{
    float:left;
    width: 935px;
}
.subcat-top10-list .top10-header-text{
    margin: 5px 0 10px 0px;
    font-family: Arial,Helvetica;
    font-size:16px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
.subcat-top10-list .top10-nav-wrap{
    height:47px;
    padding: 10px 10px 0 10px;
    border-bottom:1px solid #969696;
    background: #e8eeee;
}
/*.subcat-top10-list .top10-nav-wrap .top10-nav{
    display: inline-block;
}*/
.top10-nav-menu-wrap{
    float: left;
    display: table;
    position: relative;
    width:160px;
    height:44px;
    padding:0px 10px;
    border:1px solid transparent;
    border-color: transparent transparent transparent #ccc;
    overflow: hidden;
}
.top10-nav-menu-wrap:after{
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle;
}
.top10-nav .top10-nav-menu-wrap.active,.top10-nav .top10-nav-menu-wrap:hover{
    border-color:#969696;
    border-top-width: 3px;
    border-bottom-color:transparent;
    background: #F5F7F7;
}
.top10-nav .top10-nav-menu-wrap.active{
    border-top-color: #b00 !important;
}
.top10-nav-menu-wrap.active .top10-nav-menu{
    color:#b00 !important;
}
.top10-nav .top10-nav-menu-wrap:hover{
    border-color:#969696;
    background: #F5F7F7;
}
/*.top10-nav:hover .top10-nav-menu-wrap.active{
    border:1px solid transparent;
    border-color: transparent transparent transparent #ccc;
    border-bottom: 0;
    background:#e8eeee;
}*/
.top10-nav:hover .top10-nav-menu-wrap.active:hover{
    background: #F5F7F7;
}
.top10-nav:hover .top10-nav-menu-wrap:hover{
    border-color:#F5F7F7;
    border:1px solid #969696;
    border-top-width: 3px;
    border-bottom-color:transparent ;
}
.top10-nav .top10-nav-menu{
    display: table-cell;  
    width:157px;
    color:black;
    font-family: 'Open Sans',sans-serif,Arial,Helvetica;
    font-size: 10px;
    text-decoration: none;
    vertical-align: middle; 
    text-align: center;
}
.subcat-top10-list .top10-item-list{
    margin-top:15px;
}
.subcat-top10-list .top10-item{
    position: relative;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    margin:0 0 15px 25px;
    padding: 20px;
    border: 1px solid #EBEBEB;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background: white;
}
.subcat-top10-list .top10-item .item-serial{
    position: absolute;
    top: 10px;
    left: -21px;
    width: 32px;
    height: 16px;
    padding: 8px 0;
    text-align: center;
    background: #c00;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.subcat-top10-list .top10-item .item-serial:after{
    content: "";
    position: absolute;
    top: 32px;
    left: 0;
    width: 0;
    height: 0;
    border-right: 20px solid #232121;
    border-bottom: 10px solid transparent;
}
.subcat-top10-list .top10-item .item-thumb-wrap{
    float:left;
}
.subcat-top10-list .top10-item .item-thumb{
    position: relative;
    width:175px;
    height:180px;
    border:1px solid #ccc;
    background: white;
}
.subcat-top10-list .top10-item .item-thumb a,.subcat-top10-list .top10-item .item-thumb a:hover,.subcat-top10-list .top10-item .item-thumb a:active{
    border:none;
}
.subcat-top10-list .top10-item .item-thumb img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 160px;
    max-height: 165px;
    margin: auto;
}
.subcat-top10-list .top10-item .item-thumb-desc{
    padding: 5px 25px;
    background: #5B5B5B;
    color:white;
    font-family: 'Open Sans',sans-serif,Arial,Helvetica;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}
.subcat-top10-list .top10-item .item-thumb-desc a{
    color:white !important;
    text-decoration: none !important;
}
.subcat-top10-list .top10-item .item-thumb-desc p{
    margin:0;
}
.subcat-top10-list .top10-item .item-details{
    position: relative;
    float: left;
    padding: 40px 20px 0 20px;
    width: 465px;
}
.top10-item .item-details .full-width{
    position: absolute;
    top:0;
    width: 670px;
}
.top10-item .item-details .item-title{
    display: inline-block;
    height: 23px;
    color: #333 !important;
    font-family: 'Open Sans',sans-serif,Arial,Helvetica;
    font-size:18px;
    line-height: 100%;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    text-decoration: none !important;
    width: 100%;
}
.top10-item .item-details .item-tagline{
    display: inline-block;
    max-width: 525px;
    height:14px;
    margin:0 10px 0 0;
    font-family: Arial,Helvetica;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    vertical-align: middle;
}
.top10-item .item-details .item-rating{
    display: inline-block;
    width: 65px;
    height: 12px;
    margin-right: 10px;
    vertical-align: middle;
    background: #dbdbdb;
}
.top10-item .item-details .item-rating .rating-wrap{
    background-color: #FFD466;
}
.top10-item .item-details .item-rating .star-rating{
    background-image: url('http://0a139eea44aaa5b71501-dd7be9abd488a04eaa465c4563316f16.r46.cf1.rackcdn.com/top10_star.png');
    width: 65px;
    height: 12px;
}
.top10-item .item-details .item-reviews{
    display: inline-block;
    color: #4f6591;
    font-size: 11px;
    vertical-align: middle;
}
.top10-item .item-details .item-reviews:hover{
    color:#1b3260;
}
.top10-item .item-details .item-keyspecs{
    margin: 0;
    padding:15px 0 10px 0;
    line-height:1.75em;
}
.top10-item .item-details .item-keyspecs li{
    float:left;
    width: 200px;
    padding-left: 17.5px;
    margin:0 10px 0 0;
    background: url('http://www.mysmartprice.com//msp/images/on_green.png') center left no-repeat;
st-style-type: none;
    font-size:12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.top10-item .item-details .item-desc-wrap{
    position: relative;
    height: 50px;
    overflow: hidden;
    -webkit-transition:height 0.25s;
    -moz-transition:height 0.25s;
    -ms-transition:height 0.25s;
    transition:height 0.25s;
}
.top10-item .item-details .item-description{
    margin: 0;
    overflow: hidden;
    font-size:12px;
    line-height:18px;
    text-align: justify;
}
.item-details .item-description .desc-more{
   position: absolute;
bottom: 0;
right: 0;
padding-left: 5px;
background: white;
color: #7CABC2;
line-height: 11px;
text-decoration: underline;
}
.top10-item .item-priceinfo{
    float:right;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;

    -ms-box-sizing:border-box;
    box-sizing:border-box;
    width: 185px;
    margin-top:50px;
    padding: 15px 20px 18px 20px;
    border-left:1px solid #ccc;
}
.top10-item .item-priceinfo .item-best-price-value{
    margin: 0 auto;
    color: #c00;
    font-family: 'Open Sans',sans-serif,Arial,Helvetica;
    font-size: 24px;
}
.top10-item .item-priceinfo .item-best-price-label{
    margin: 10px auto;
    font-family: 'Open Sans',sans-serif,Arial,Helvetica;
    font-size:16px;
}
.top10-item .item-priceinfo .btn{
    margin: 10px 0 5px 0;
}
.top10-item .buybutton{
    margin: 10px 0;
    height: 32px;
    vertical-align: middle;
    border-radius: 2px;
    color:white !important;
    font-size: 11px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    text-decoration: none!important;
}
.top10-item .item-priceinfo .item-stores{
    margin: 0;
    padding-left: 0px;
    color: #777;
    font-size: 12px;
    line-height: 20px;
}
.top10-item .item-priceinfo .item-stores span{
    font-weight: bold;
}
.top10-item.no-desc .item-details .item-keyspecs{
    width:200px;
}
.top10-item.no-desc .item-details .item-description{
    display: none;
}
.sidebardiv{
    background: white;
}
